# Joblisting Exploratory Data Analysis (EDA): Cleaning

---

<div class="alert alert-block alert-info">
Table of Contents: <br>
    
<ul>
    <li>1. <a href="#1.-Setup">Setup</a></li>
    <li>2. <a href="#2.-Loading-the-Data">Loading the Data</a></li>
    <li>3. <a href="#3.-Framing-the-Problem">Framing the Problem</a>
        <ul>
            <li>3.1. <a href="#3.1.-Objective">Objective</a></li>
            <li>3.2. <a href="#3.2.-Procedure">Procedure</a></li>
            <li>3.3. <a href="#3.3.-Design">Design</a></li>
        </ul>
    </li>
    <li>4. <a href="#4.-Previewing-the-Data">Previewing the Data</a></li>
    <li>5. <a href="#5.-Wrangling-and-Cleaning-the-Data">Wrangling and Cleaning the Data</a>
        <ul>
            <li>5.1. <a href="#5.1.-company-and-rating">company and rating</a></li>
            <li>5.2. <a href="#5.2.-headquarters">headquarters</a></li>
            <li>5.3. <a href="#5.3-salary-estimate">salary estimate</a></li>
            <li>5.4. <a href="#5.4-job-type">job type</a></li>
            <li>5.5. <a href="#5.5.-size,-founded,-type,-industry,-sector,-revenue,-and-job-description">size, founded, type, industry, sector, revenue, and job description</a></li>
            <li>5.6. <a href="#5.6.-Building-the-Pipeline">Building the Pipeline</a></li>
        </ul>
    </li>
    <li>6. <a href="#6.-Saving">Saving</a></li>
</ul>
</div>

## 1. Setup

+ If the following assertions fail, I believe other versions still work. Just ensure you are not using too outdated libraries (e.g. Python 3.* compared to Python 2.*). These are just the versions I'm using for this project.

In [1]:
# General imports.

# Python ‚â• 3.7.9 is used.
import sys
assert sys.version_info >= (3, 7, 9)

import os
import re
import time
from collections import Counter
from ordered_set import OrderedSet

# Specific imports.

# NumPy ‚â• 1.19.5 is used.
import numpy as np
assert np.__version__ >= "1.18.5"

# Pandas ‚â• 1.2.4 is used.
import pandas as pd
assert pd.__version__ >= "1.2.4"

# Scikit-learn ‚â• 0.24.2 is used.
import sklearn
assert sklearn.__version__ >= "0.24.2"

from sklearn.pipeline import Pipeline
from sklearn.base import TransformerMixin, BaseEstimator

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
# Utility Function(s).

# Borrowed from: 
# https://github.com/ageron/handson-ml2/blob/master/04_training_linear_models.ipynb.

PROJECT_ROOT_DIR = "."
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "img")
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(ax, fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    ax.savefig(path, format=fig_extension, dpi=resolution)

## 2. Loading the Data

In [3]:
PATH = "../input/joblisting.csv"
df = pd.read_csv(PATH, index_col=0)

## 3. Framing the Problem

### 3.1. Objective

+ Wrangle, clean, and perform Exploratory Data Analysis (EDA) on the Glassdoor.com joblisting data. Extract useful findings in relationships between estimated salary and other variables. I'll split this EDA into 2 parts: descriptive and exploratory analysis for the first part and question-driven exploration for the second part.

We will work on wrangling and cleaning in this notebook.

### 3.2. Procedure

1. Setup.
2. Loading the data.
3. Framing the problem.
4. Preview the data.
5. Wrangling and cleaning the data.
6. Univariate non-graphical analysis.
7. Univariate graphical analysis.
8. Multivariate non-graphical analysis. 
9. Multivariate graphical analysis.
10. Organize findings.

Disclaimer: Steps aren't necessarily done sequentially (I may jump back and forth a bit if I come up with an idea about something).

### 3.3. Design

+ 8 total Google sheets will be continually updated throughout the project: 6 sheets for questions, assumption_univariate, conclusion_univariate, and observation_univariate (assumption_multivariate, conclusion_multivariate, observation_multivariate). The last sheet is called miscellaneous_observations and will contain observations about things other than the features themselves. These are my **analysis log sheets**.

|              | assumptions              | conclusions              | observations              |
| :----------- | :----------------------- | :----------------------- | :------------------------ |
| univariate   | assumptions_univariate   | conclusions_univariate   | observations_univariate   |
| multivariate | assumptions_multivariate | conclusions_multivariate | observations_multivariate |

| Other                      |
| :------------------------- |
| miscellaneous_observations |
| Questions                  |

+ Assumptions will be updated mostly at the beginning of the project (can still be updated all throughout the project).
+ Conclusions will mostly be done during and at the end of the project (can still be updated all throughout the project). 
+ Observations will, unlike the previous 2, be updated all throughout the project.


+ For this project, I created a diagram to go along and keep track of all the edits I've made. I call this my **edit log**.
+ **Note**: for the 6 sheets I showed in the markdown table above, the assumptions, conclusions, and observations will be denoted by [row, column] and for miscellaneous_observations and Questions sheets, I will denote it by [row,].
+ **Note**: Assumptions are kept exclusively on the spreadsheet, Questions are denoted with (‚ùì), conclusions with (üìë), and observations with (üîç).


+ I'll try to adhere by Python conventions in PEP8 and [this](https://stackoverflow.com/questions/43577404/purpose-of-import-this) (though I can't promise this will turn out perfectly).

## 4. Previewing the Data

In [4]:
df.head()

,company,job title,headquarters,salary estimate,job type,size,founded,type,industry,sector,revenue,job description
0,Walmart\n3.4,Data Scientist,"Sunnyvale, CA",-1,Job Type : N/A,10000+ employees,1994,company - public,general merchandise & superstores,retail,$10+ billion (usd),Position Summary...\nWhat you'll do...\nAnalyt...
1,TikTok\n3.8,Data Scientist,"Mountain View, CA",-1,Job Type : Full-time,501 to 1000 employees,2016,company - private,internet,information technology,unknown / non-applicable,TikTok is the leading destination for short-fo...
2,Indeed\n4.3,Principal Data Scientist - Candidate Recommend...,"San Francisco, CA",Employer Provided Salary:$187K - $231K,Job Type : Full-time,10000+ employees,2004,company - private,internet,information technology,$2 to $5 billion (usd),Your Job\nThe Candidate Recommendations team b...
3,Indeed\n4.3,Senior Data Scientist - Moderation Engineering,"San Francisco, CA",Employer Provided Salary:$130K - $156K,Job Type : Full-time,10000+ employees,2004,company - private,internet,information technology,$2 to $5 billion (usd),Your Job\nThe Moderation Engineering team‚Äôs mi...
4,Thermo Fisher - America\n3.8,Data Scientist III,"San Francisco, CA",-1,Job Type : N/A,10000+ employees,1902,company - public,biotech & pharmaceuticals,biotech & pharmaceuticals,$10+ billion (usd),Thermo Fisher Scientific Inc. is the world lea...

In [5]:
df.shape

(2573, 12)

In [6]:
df.columns

Index(['company', 'job title', 'headquarters', 'salary estimate', 'job type',
       'size', 'founded', 'type', 'industry', 'sector', 'revenue',
       'job description'],
      dtype='object')

In [7]:
df.describe()

           founded
count  2573.000000
mean   1485.608628
std     866.857576
min      -1.000000
25%      -1.000000
50%    1995.000000
75%    2009.000000
max    2019.000000

> üîç observation_univariate: [0, "founded"].\
 \
 All the values for the "founded" feature are biased\
 because they have a great deal of missing values (-1)\
 and this would skew both the mean, std, and the median and quartiles.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2573 entries, 0 to 2572
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company          2573 non-null   object
 1   job title        2573 non-null   object
 2   headquarters     2573 non-null   object
 3   salary estimate  2573 non-null   object
 4   job type         2573 non-null   object
 5   size             2573 non-null   object
 6   founded          2573 non-null   int64
 7   type             2573 non-null   object
 8   industry         2573 non-null   object
 9   sector           2573 non-null   object
 10  revenue          2573 non-null   object
 11  job description  2573 non-null   object
dtypes: int64(1), object(11)
memory usage: 261.3+ KB

> üîç misc_obsvtn: [0,].\
 \
 There are no null or NaN values but they are actually represented as -1s.\
 Everything is an object except for the year founded which is int64.

## 5. Wrangling and Cleaning the Data

In [9]:
df_clean = df.copy()
df_clean.head()

,company,job title,headquarters,salary estimate,job type,size,founded,type,industry,sector,revenue,job description
0,Walmart\n3.4,Data Scientist,"Sunnyvale, CA",-1,Job Type : N/A,10000+ employees,1994,company - public,general merchandise & superstores,retail,$10+ billion (usd),Position Summary...\nWhat you'll do...\nAnalyt...
1,TikTok\n3.8,Data Scientist,"Mountain View, CA",-1,Job Type : Full-time,501 to 1000 employees,2016,company - private,internet,information technology,unknown / non-applicable,TikTok is the leading destination for short-fo...
2,Indeed\n4.3,Principal Data Scientist - Candidate Recommend...,"San Francisco, CA",Employer Provided Salary:$187K - $231K,Job Type : Full-time,10000+ employees,2004,company - private,internet,information technology,$2 to $5 billion (usd),Your Job\nThe Candidate Recommendations team b...
3,Indeed\n4.3,Senior Data Scientist - Moderation Engineering,"San Francisco, CA",Employer Provided Salary:$130K - $156K,Job Type : Full-time,10000+ employees,2004,company - private,internet,information technology,$2 to $5 billion (usd),Your Job\nThe Moderation Engineering team‚Äôs mi...
4,Thermo Fisher - America\n3.8,Data Scientist III,"San Francisco, CA",-1,Job Type : N/A,10000+ employees,1902,company - public,biotech & pharmaceuticals,biotech & pharmaceuticals,$10+ billion (usd),Thermo Fisher Scientific Inc. is the world lea...

Webscraping is super messy, especially when it comes to joblistings! I've implemented some general transformations for removing NaN Rows and certain specified columns.

In [10]:
# 1. Remove rows if too many missing values.

class RemoveNaNRows(BaseEstimator, TransformerMixin):
    def __init__(self, cnt=5):
        self.cnt = cnt

    def fit(self, X, y=None):  
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        filter_ = X_copy.apply(lambda row: False if Counter(row.values)["-1"] >= self.cnt else True, axis=1)
        X_copy = X_copy[filter_]
        
        return X_copy.reset_index(drop=True)

# 1. Select certain columns.

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names=[], include=True):
        self.attribute_names = attribute_names
        self.include = include
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        if not self.attribute_names:
            return X
        
        if self.include:
            return X[self.attribute_names]
        
        cols = OrderedSet(X.columns).difference(OrderedSet(self.attribute_names))
        return X[cols]
        

# 1. Remove unnecessary indices at the beginning.

class IndexRemover(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
                
        unnamed_cols = [col for col in X_copy.columns if "Unnamed" in col]
        try: X_copy = X_copy.drop(columns=unnamed_cols)
        except: pass
                                 
        return X_copy

> ‚ùì Questions: 0.\
  \
  Which columns should we be removing?

We will remove the "job title" column because it won't be too useful (all jobs are data science or data science related). "job description" is an NLP task which we won't tackle (actually, maybe we can extract key words or frequent words using an NLP method!). Upon inspection, "founded" has too many NaNs and "industry" is too similar to sector (which has less NaNs) so we simply drop "industry".

In [11]:
clean_general_pipeline = Pipeline([
    ("nan_row_remover", RemoveNaNRows()),
    ("col_selector", DataFrameSelector(["job title", "founded", "job description", "industry"], include=False)),
    ("index_remover", IndexRemover())
])

In [12]:
df_clean = clean_general_pipeline.fit_transform(df_clean)
df_clean.head()

,company,headquarters,salary estimate,job type,size,type,sector,revenue
0,Walmart\n3.4,"Sunnyvale, CA",-1,Job Type : N/A,10000+ employees,company - public,retail,$10+ billion (usd)
1,TikTok\n3.8,"Mountain View, CA",-1,Job Type : Full-time,501 to 1000 employees,company - private,information technology,unknown / non-applicable
2,Indeed\n4.3,"San Francisco, CA",Employer Provided Salary:$187K - $231K,Job Type : Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
3,Indeed\n4.3,"San Francisco, CA",Employer Provided Salary:$130K - $156K,Job Type : Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
4,Thermo Fisher - America\n3.8,"San Francisco, CA",-1,Job Type : N/A,10000+ employees,company - public,biotech & pharmaceuticals,$10+ billion (usd)

### 5.1. company and rating

In [13]:
# Looking at all unique values and their counts for 
# the "company" attribute and sorting by ascending.
companies = df["company"].value_counts()
companies

Facebook\n4.3                          119
Ursus\n4.4                              51
Uber\n4.0                               43
Intuit - Data\n4.5                      33
Salesforce\n4.4                         30
                                      ...
EPM Scientific\n2.3                      1
Matroid\n5.0                             1
International Consulting Group Inc.      1
Gotion, Inc.\n4.1                        1
Baidu USA\n3.9                           1
Name: company, Length: 770, dtype: int64

> ‚ùì Questions: 1.\
  \
  How many unique companies are there?

In [14]:
# My process:
# - split ratings out
# - apply set() to remove duplicates

unique_companies = set([company.split("\n")[0] for company in companies.index])
len(unique_companies)

695

In [15]:
unique_companies

{'10x Genomics',
 '23andMe',
 '3T Biosciences',
 '4Insite',
 '6sense',
 '8k Miles',
 'ABD Insurance and Financial Services',
 'ACL Digital',
 'ALLDATA',
 'ALSTEM',
 'AMPAC Fine Chemicals',
 'APTIM',
 'AT&T',
 'AVA ROAD',
 'AVANADE',
 'Abbott Laboratories',
 'Abl Schools',
 'Acara Solutions',
 'Accenture',
 'Accrete Hitech Solutions',
 'Acorn Analytics',
 'Acumen LLC',
 'Adecco',
 'Adobe',
 'Advanced Systems Group',
 'Adventist Health',
 'Affimedix Inc',
 'Afresh',
 'Afterpay Touch',
 'Agama Solutions',
 'Agilent Technologies, Inc.',
 'Aible',
 'Akoya Biosciences',
 'Akraya Inc.',
 'Alameda Health Consortium/Community Health Center Network',
 'Alexa Internet',
 'AlignTech',
 'Alkahest, Inc.',
 'Allness Inc',
 'Allscripts',
 'Alten',
 'Alto Neuroscience, Inc.',
 'Alvah Contractors, Inc.',
 'Amazon Dev Center U.S., Inc.',
 'Amazon Web Services, Inc.',
 'Amazon.com Services LLC',
 'Ambys Medicines',
 'Amino, Inc.',
 'Amobee',
 'AmpersandPeople',
 'Anaspec, Inc',
 'Anthem',
 'Anzu Global',
 'Aon Corporation',
 'Apexon',
 'Apollomics',
 'Apostle',
 'AppZen',
 'Apple',
 'Applied Materials Inc.',
 'Apton Biosystems',
 'Aquabyte',
 'Aridis Pharmaceuticals',
 'Arkose Labs',
 'Artius',
 'Aruba Networks',
 'Aspire Public Schools',
 'Association For Energy Affordability, Inc.',
 'Assured',
 'Astreya Partners',
 'Astrix Technology Group',
 'Atlassian',
 'Aurora Innovation',
 'AutoGrid Systems',
 'AutoZone',
 'Autodesk',
 'Avila Trading',
 'BEPC Inc',
 'BICP',
 'BISHOP WISECARVER CORPORATION',
 'BOLD',
 'Baidu USA',
 'Bay Area Community Health',
 'Bayer',
 'Bayer AG',
 'Beepi',
 'Belcan',
 'Benchling',
 'Beshton Software',
 'Bevov',
 'Big Data Federation',
 'Big Fish Games',
 'Bill.com',
 'Bio-Rad Laboratories, Inc.',
 'BioEclipse Therapeutics, Inc.',
 'BioMart Inc',
 'Bioethic Consulting',
 'BlackRock',
 'Bloom Energy',
 'Blue Owl',
 'Blue River Technology',
 'Blue Shield of California',
 'Bolt',
 'Boomi',
 'Braintrust',
 'Bristol Myers Squibb',
 'C3 AI',
 'CA-One Tech Cloud Inc',
 'CBRE',
 'CBS Interactive',
 'CCRM',
 'CDI Solutions',
 'COPA Soccer Training Center',
 'CPP Investments',
 'CVPartners',
 'CVS Health',
 'CaaStle',
 'Cadence Design Systems',
 'Calico',
 'California State University',
 'Capella Space',
 'Capgemini',
 'Capital One - US',
 'Carbon Health',
 'Carbon Mapper',
 'Carbon3D',
 'Carmot Therapeutics, Inc.',
 'Carnegie Institution',
 'Carta',
 'Cash App',
 'Castlight Health',
 'Catalyst Biosciences',
 'Cavnue',
 'Celandyne Software Solutions',
 'Centrify',
 'Chan Zuckerberg Biohub',
 'Chan Zuckerberg Initiative',
 'Change Healthcare',
 'Change Research',
 'Charles River',
 'Charles River Laboratories',
 'Checkmate Partners',
 'Cheetah Mobile',
 'Chelsea Search Group',
 'Chime',
 'Chinese Hospital',
 'CipherTrace',
 'CircleCI',
 'Circularis Biotechnologies',
 'Cisco Systems',
 'CitiusTech',
 'Clearbit',
 'ClimateAI',
 'Clinical Management Consultants',
 'CloudMedx',
 'Cloudflare',
 'Codexis',
 'Cogitativo',
 'Cognizant Technology Solutions',
 'Coherus BioSciences',
 'Collective Health',
 'Colsh Consultants',
 'Commonstock',
 'Compassion Pathways',
 'Compunnel Software Group',
 'Concept Tapestry',
 'Confluent',
 'Contus',
 'CooTek',
 'Cornershop by Uber',
 'Cotocus',
 'Couchbase',
 'County of Contra Costa',
 'County of San Mateo',
 'Course Hero',
 'Covered California',
 'Creative Circle',
 'Credible',
 'Cree Inc',
 'CriticalRiver Technologies Inc.',
 'Cruise',
 'Cuberg',
 'Curai',
 'CyberCoders',
 'CytomX Therapeutics, Inc.',
 'DNA Script',
 'DNAlite Therapeutics',
 'DNAnexus',
 'DTEX Systems',
 'DUOPEAK',
 'DataVisor',
 'Databricks',
 'Datatron Technologies',
 'Davis Sensory Institute',
 'DeepMap, Inc',
 'DeepVu',
 'Deeproute.ai',
 'Del Monte Foods, Inc.',
 'Dell Technologies',
 'Denali System Co., Ltd',
 'Denali Therapeutics',
 'DiDi Labs',
 'Dictionary.com',
 'Diffbot',
 'Dimensional Control Systems',
 'Discord',
 'Divvy Homes',
 'DocuSign',
 'Dolby',
 'DoorDash',
 'EA Engineering Science and Technology',
 'ELT Solutions',
 'EOS',
 'EPM Scientific',
 'Earli, Inc.',
 'Ease',
 'Edgesource Corporation',
 'Electronic Arts',
 'Eluvio',
 'Embark Trucks',
 'Energy Solutions',
 'Enologix',
 'Epic',
 'Epic Games',
 'Equinix',
 'Ericsson-Worldwide',
 'Eugenus Inc',
 'Eurofins Central Laboratory',
 'Exponent',
 'Extend',
 'F5',
 'FICO',
 'FT Optimize',
 'Facebook',
 'Faire',
 'Fanatics',
 'Fanatics Inc.',
 'Feedzai',
 'FibroGen, Inc.',
 'Finrise',
 'First Place for Youth',
 'First Republic Bank',
 'Fiserv',
 'Fluence',
 'FocusKPI Inc.',
 'Food Management Search',
 'Ford Motor Company',
 'Forethought',
 'Forward',
 'Fracta',
 'Freenome',
 'Freenome Holdings',
 'Fremont Bank',
 'FutureSoft IT',
 'Fyusion',
 'G4S',
 'GA Instructor',
 'GRAIL, Inc.',
 'GSK',
 'GSN Games',
 'Gables Search Group',
 'Galvanize',
 'Galvanize Inc.',
 'Gamma Reality Inc.',
 'Gap Inc.',
 "Gayathri's Sandbox",
 'Geli',
 'Genentech',
 'Gilead Sciences',
 'Glassdoor',
 'Global Inc',
 'Glu Mobile',
 'GokeUSLab',
 'Goldman Sachs',
 'Goodway Group',
 'Google',
 'Gotion, Inc.',
 'Grabango',
 'Grammarly, Inc.',
 'Granular',
 'Grid Dynamics',
 'GroundTruth',
 'Grove Collaborative',
 'Guidehouse',
 'Guidewire Software, Inc.',
 'HCL Technologies',
 'Happy Elements',
 'Harmonize',
 'Harnham',
 'Harnham US',
 'Health Plan of San Mateo',
 'Health at Scale Corporation',
 'Hearth',
 'Heluna Health',
 'Hinge Health',
 'Hongene Biotech Corporation',
 'HopHR',
 'Houzz',
 'Humanyze',
 'HypaHub, Inc.',
 'IBM',
 'IDEASVOICE',
 'Impossible Foods',
 'Incept Data Solutions, Inc',
 'Indeed',
 'Innoplexus',
 'Innovyt',
 'Instacart - Corporate',
 'Intel',
 'Intelliswift Software Inc',
 'Intelygenz Inc',
 'Intercom',
 'International Consulting Group Inc.',
 'Intuit',
 'Intuit - Data',
 'Intuitive',
 'Iron Ox',
 'Iron Ox, Inc.',
 'Ironclad, Inc.',
 'JD.com',
 'JGB Biopharma Consulting Inc',
 'JLL',
 'JM Talent Inc.',
 'January',
 'Jazz Pharma',
 'Jerry',
 'Jobot',
 'Joby Aviation',
 'Johnson & Johnson Family of Companies',
 'Johnson Controls',
 'Juniper Networks',
 'KJ Consulting LLC',
 'KLA-Tencor',
 'KLM Careers',
 'KPMG',
 'Kaiser Permanente',
 'Keewi',
 'Kelly',
 'Kodiak Robotics',
 'Komodo Health',
 'Kuaishou Technology',
 'LG Energy Solution Michigan, Inc.',
 'LGC Limited',
 'LVIS Corporation',
 'LaBine and Associates',
 'Laboratory Corporation of America Holding',
 'Laguna Source',
 'LakePharma, Inc.',
 'Lawrence Berkeley National Laboratory',
 'Lawrence Livermore National Laboratory',
 'Lead5 Media',
 'Ledgent Technology',
 'LegalZoom',
 'Lemonaid Health',
 'Levi Strauss',
 'Levi Strauss & Co.',
 'Lighthouse Lab Services',
 'Lily AI',
 'Living Carbon',
 'Loom',
 'LotusFlare, Inc.',
 'Lucid Motors',
 'Luminostics',
 'Lyft',
 'Lyra Health',
 'MATRIX Resources',
 'MIcrovi Biotech',
 'MOLOCO',
 'MR TALENT LLC',
 'MW Partners',
 'MadKudu',
 'Made Renovation',
 'Madison Reed',
 'MarinHealth Medical Center',
 'Marqeta',
 'Mason Tillman Associates',
 'MasterClass',
 'Match Group',
 'Match Relevant',
 'Matroid',
 'McAfee',
 "McDonald's Corporate",
 'Mendel',
 'Metromile',
 'Microsoft',
 'Minaris Regenerative Medicine',
 'Mirabilis Design',
 'Mitre Corporation',
 'MomentRanks',
 'Monterey Bay Analytical Services',
 "Moody's Corporation",
 'Moveworks',
 'Moveworks.ai',
 'Mythic-AI',
 'N3TWORK',
 'NCIRE',
 'NGUSoft',
 'NVIDIA',
 'NVIGEN',
 'Nauto',
 'NephroSant, Inc.',
 'Nestle USA',
 'Netflix',
 'NeuroTrainer',
 'New Relic',
 'NewsBreak',
 'Next Insurance',
 'NextEra Energy',
 'NextGen America',
 'Nextdoor',
 'Niantic',
 'Nkarta, Inc.',
 'Noodle.ai',
 'NotCo',
 'Notable Labs',
 'Notion',
 'Nova Measuring Instruments',
 'NovoNutrients',
 'Numerdox',
 'Nuna',
 'Nurix',
 'Nuro',
 'NutaNXT Technologies',
 'Nutcracker Therapeutics',
 'NxT Level',
 'ONX',
 'OPPO US Research Center',
 'Oak Valley Hospital District',
 'Octave Bioscience',
 'Omniscience',
 'On-Board Companies',
 'One Concern',
 'Onto Innovation',
 'Onward Search',
 'Opendoor',
 'Opinion Dynamics',
 'Oportun. Inc',
 'Opsani',
 'Optra Systems',
 'Ordr',
 'Ordr, Inc.',
 'Osaro',
 'Ossium Health',
 'Oura',
 'Oxford Global Resources',
 'Oxygen',
 'PAX Labs',
 'PG&E Corporation',
 'Palo Alto Networks',
 'Parker Institute for Cancer Immunotherapy',
 'Parker Institute of Cancer Immunotherapy (PICI)',
 'Pasona N A, Inc.',
 'PayJoy',
 'PayPal',
 'Pendulum.co',
 'Pendulum‚Ñ¢',
 'Penumbra US',
 'Perfect Minds',
 'PerformanceStar',
 'Personalis, Inc',
 'Picarro',
 'PicnicHealth',
 'Pinterest',
 'Pixalate, Inc.',
 'Pixelberry Studios',
 'Plaid',
 'Platinum Staffing Solutions',
 'Plato',
 'Plenty',
 'Plum Lending',
 'Plus',
 'Pngme',
 'Pocket Worlds',
 'Point',
 'Poshmark',
 'Power Integrations',
 'Primary Talent Partners',
 'PrimeNeuro',
 'Proclinical Staffing',
 'Procyon technostructure',
 'Proofpoint',
 'PubMatic',
 'PubNub',
 'Punchh',
 'Pyramid Consulting, Inc',
 'Qualpro Systems',
 'Qualys',
 'Quantifind',
 'Quintara Discovery, Inc (QDI)',
 'RAPP',
 'REDICA Systems',
 'REGID International',
 'RELX Group',
 'Randstad General Staffing',
 'Raybeam, Inc.',
 'ReCode Therapeutics',
 'Riiid Labs',
 'Rivian Automotive',
 'Robby Technologies',
 'Robert Half Corporate Internal',
 'Robinhood',
 'Roblox',
 'Roche',
 'Rubicon Temps',
 'Runway Innovation Hub',
 'Ryder System',
 'SACC INC',
 'SADA',
 'SKT Lab',
 'SRA OSS',
 'SRG',
 'SRS Consultancy Inc',
 'STAR Labs',
 'SafeTraces, Inc.',
 'Sail Internet',
 'Salesforce',
 'Samsung Electronics America',
 'Samsung SDS America',
 'ScaleMonk',
 'Seasoned, LLC',
 'Second Genome',
 'Secureworks',
 'Seer',
 'Sensor Tower',
 'Sentient Energy',
 'SeqMatic, LLC',
 'Shoe Palace Corporation',
 'Sightline Payments',
 'Sigma Inc',
 'Sigmaways, Inc.',
 'Sikka Software',
 'SiriusXM',
 'Sisu',
 'Sitecore',
 'Skan',
 'Slack',
 'Slalom LLC.',
 'Snapchat',
 'Snark AI',
 'SoFi',
 'Solactron',
 'Sony Corporation of America',
 'Sony Interactive Entertainment PlayStation',
 'Sony PlayStation',
 'SpanIdea',
 'Spartan Technologies',
 'Specific Diagnostics',
 'Spin',
 'Splunk',
 'Spring Discovery',
 'Squadex',
 'Square',
 'Stanford University',
 'Stealth Mode Startup',
 'Stealth Mode Startup Company',
 'Step',
 'Step Mobile',
 'Stitch Fix',
 'Store No. 8',
 'Strategi.biz',
 'StubHub',
 'Sunshine',
 'SupportLogic',
 'Surya Systems',
 'Susquehanna International Group',
 'Sutro Biopharma',
 'SymphonyAI',
 'Synapse Financial Technologies Inc',
 'Synopsys',
 'TCL Research America',
 'TEKPLAY SYSTEMS',
 'TEKsystems',
 'TSN Partners',
 'Tailored Management',
 'Tapjoy',
 'TargetCW',
 'TaskRabbit',
 'TechTrueUP',
 'Technosoft Global',
 'Teknatio',
 'Tekrek Solutions',
 'Tekruiting',
 'Teladoc Health',
 'Tempus',
 'Tempus Labs',
 'Tesla',
 'The Beans',
 'The Climate Corporation',
 'The Mom Project',
 'The Rockridge Group',
 'The Stone Research Foundation',
 'The Voleon Group',
 'Therini Bio, Inc.',
 'Thermo Fisher - America',
 'Thermo Fisher Scientific',
 'ThirdLove',
 'Tiger Analytics',
 'TikTok',
 'Tinder',
 'Toyota Research Institute',
 'Treasure Island Sailing Center',
 'TrueBinding',
 'TuSimple, Inc.',
 'Tubi',
 'Turo',
 'Twilio',
 'Twist Bioscience',
 'Twitch',
 'Twitch Interactive, Inc.',
 'Twitter',
 'UC Hastings',
 'UC San Francisco Academic',
 'Uber',
 'Udemy',
 'Ultimate Staffing Services',
 'UnifyID',
 'Uniphore',
 'United One Solutions',
 'Universities Space Research Association',
 'University of California Berkeley',
 'University of California San Francisco',
 'University of California Santa Cruz',
 'University of California, Davis',
 'Unlearn.AI',
 'Unstoppable Domains',
 'Upstart',
 'Upstart Network, Inc.',
 'Ursus',
 'UserLeap',
 'V Projects',
 'V-Soft Consulting Group, Inc.',
 'VIZIO, Inc.',
 'VMware',
 'VTEK SYSTEMS',
 'Varo Bank',
 'Varo Money',
 'Vectra',
 'Veeva Systems',
 'Veracyte',
 'Verana Health',
 'Verb Surgical',
 'Verkada',
 'VertiSystem Inc',
 'Viaduct',
 'Visual Concepts',
 'Vitria Technology',
 'Vungle',
 'Walmart',
 'Walrus Health',
 "Warman O'Brien",
 'Waymo',
 'Waynsys',
 'WeDriveU, Inc.',
 'Wealthfront',
 'Webhelp Americas',
 'Wells Fargo',
 'Wells Fargo Bank',
 'WhoWhatWhy',
 'Wider Circle',
 'Wild Type',
 'Williams Sonoma',
 'Wing',
 'Wish',
 'Woodruff Sawyer',
 'WorkWhile',
 'Workday',
 'Workforce Logiq',
 'Wyzant',
 'Xcel Agency',
 'Xerox',
 'Xoriant Corporation',
 'Yardzen',
 'ZS Associates',
 'Zeta Global',
 'Zipcar, Inc.',
 'Zipline',
 'Zodiac Solutions',
 'Zscaler',
 'Zymergen',
 'a.k.a. Brands',
 'centraprise',
 'dunnhumby',
 'eBay',
 'eBay Inc.',
 'eHealth',
 'f5',
 'financial services company',
 'freshworks',
 'iFoodDecisionSciences',
 'infolob',
 'information technology sector',
 'kover',
 'test.ai',
 'tunein',
 'worldcoin.org'}

> üîç observations_univariate: [0, "company"].\
  \
  695 unique companies, but looks like some overlap like "Wells Fargo" and "Wells Fargo Bank"\
  and some other companies that aren't company names like "information technology sector" or "financial services company".

> ‚ùì Questions: 2.\
  \
  What percentage of instances don't have ratings?

In [16]:
p = len([c for c in df.company if "\n" not in c])/len(df) * 100

print(f"About {p:.1f}% of the dataset doesn't have ratings.")

About 13.6% of the dataset doesn't have ratings.

> üîç observations_univariate: [1, "company"].\
  \
  13.6% is a good chunk of the data, but my threshold for ignoring possible features\
  is 15%. I think it might be useful to include rating in the dataframe.

The "company" column still needs a lot more cleaning. Namely, we need to identify same companies and replace them with 1 name. This will make it easier to group them later on.

We can use some type of simple NLP approach to identify how similar 2 strings are, but that runs the risk of mislabeling data. And even then, if we compared each word with all other words, that's $O(N^2)$ comparisons!

Since we only have 695 unique companies, I'll simply hardcode rules to cover the edge cases seen so far. Though generally for more complex tasks like with a consistent stream of new data, we might want to shift to a more generalizeable setup. On the client-side, data entry options can be enforced (though not really in this case) and on our side we can either build a really robust parser or build a bot/AI that can compare semantic meaning between words to detect similar company names that are likely to be the same company. This can leverage unsupervised learning methods! But, for now we will stick with a simple hardcoded parser.

In [17]:
set(sorted(df_clean.company.values))

{'10x Genomics\n4.1',
 '23andMe\n4.1',
 '3T Biosciences',
 '4Insite\n4.0',
 '6sense\n4.9',
 '8k Miles\n3.9',
 'ABD Insurance and Financial Services\n4.7',
 'ACL Digital\n3.5',
 'ACL Digital\n3.6',
 'ALLDATA\n4.1',
 'ALSTEM\n3.7',
 'AMPAC Fine Chemicals\n3.1',
 'APTIM\n3.4',
 'AT&T\n3.7',
 'AVANADE\n4.1',
 'Abbott Laboratories\n3.9',
 'Abl Schools',
 'Acara Solutions\n3.5',
 'Accenture\n4.0',
 'Accrete Hitech Solutions',
 'Acorn Analytics',
 'Acumen LLC\n3.3',
 'Adecco\n3.7',
 'Adobe\n4.4',
 'Advanced Systems Group\n3.0',
 'Adventist Health\n3.6',
 'Afresh\n5.0',
 'Afterpay Touch\n3.7',
 'Agama Solutions\n3.7',
 'Agilent Technologies, Inc.\n4.3',
 'Aible\n5.0',
 'Akoya Biosciences\n4.0',
 'Akraya Inc.\n4.6',
 'Akraya Inc.\n4.7',
 'Alexa Internet\n3.8',
 'AlignTech\n4.4',
 'Allscripts\n3.7',
 'Alten\n3.2',
 'Alto Neuroscience, Inc.',
 'Amazon Dev Center U.S., Inc.\n3.8',
 'Amazon Web Services, Inc.\n3.8',
 'Amazon.com Services LLC\n3.8',
 'Amino, Inc.\n4.5',
 'Amobee\n3.9',
 'Anthem\n3.6',
 'Anzu Global\n4.5',
 'Aon Corporation\n3.8',
 'Apexon\n4.3',
 'Apexon\n4.4',
 'Apostle',
 'AppZen\n3.9',
 'Apple\n4.3',
 'Applied Materials Inc.\n4.0',
 'Apton Biosystems',
 'Aquabyte\n3.9',
 'Aquabyte\n4.2',
 'Arkose Labs\n4.4',
 'Aruba Networks\n4.0',
 'Aruba Networks\n4.2',
 'Aspire Public Schools\n3.8',
 'Association For Energy Affordability, Inc.\n2.8',
 'Assured',
 'Astreya Partners\n3.7',
 'Astrix Technology Group\n4.2',
 'Atlassian\n4.6',
 'Aurora Innovation\n4.0',
 'AutoGrid Systems\n3.4',
 'AutoGrid Systems\n3.5',
 'AutoZone\n3.3',
 'Autodesk\n4.3',
 'Avila Trading\n3.8',
 'Avila Trading\n3.9',
 'BEPC Inc\n3.7',
 'BICP\n5.0',
 'BISHOP WISECARVER CORPORATION\n3.5',
 'BOLD\n4.1',
 'Baidu USA\n3.9',
 'Bay Area Community Health\n3.0',
 'Bayer\n4.1',
 'Bayer\n4.2',
 'Bayer AG\n4.3',
 'Belcan\n3.6',
 'Benchling\n5.0',
 'Beshton Software\n3.7',
 'Bevov\n4.0',
 'Big Data Federation',
 'Big Fish Games\n3.2',
 'Big Fish Games\n3.3',
 'Bill.com\n4.2',
 'Bio-Rad Laboratories, Inc.\n3.5',
 'BioMart Inc',
 'BlackRock\n4.1',
 'Bloom Energy\n3.8',
 'Blue Owl\n4.8',
 'Blue River Technology\n4.5',
 'Blue Shield of California\n4.3',
 'Blue Shield of California\n4.4',
 'Bolt\n4.5',
 'Bolt\n4.6',
 'Boomi\n3.8',
 'Braintrust\n5.0',
 'Bristol Myers Squibb\n4.1',
 'C3 AI\n4.6',
 'CA-One Tech Cloud Inc\n5.0',
 'CBRE\n3.9',
 'CBS Interactive\n4.0',
 'CCRM\n3.8',
 'CDI Solutions\n3.8',
 'CPP Investments\n3.6',
 'CPP Investments\n3.7',
 'CVPartners\n4.1',
 'CVS Health\n3.1',
 'CaaStle\n3.5',
 'Cadence Design Systems\n4.4',
 'Calico\n4.2',
 'California State University\n4.3',
 'Capella Space\n4.6',
 'Capgemini\n3.8',
 'Capital One - US\n4.1',
 'Carbon Health\n4.2',
 'Carbon3D\n3.7',
 'Carnegie Institution\n4.3',
 'Carta\n3.9',
 'Carta\n4.0',
 'Cash App\n4.7',
 'Cash App\n4.8',
 'Castlight Health\n4.3',
 'Catalyst Biosciences\n4.2',
 'Celandyne Software Solutions',
 'Centrify\n3.4',
 'Centrify\n3.6',
 'Chan Zuckerberg Biohub\n3.4',
 'Chan Zuckerberg Initiative\n4.0',
 'Change Healthcare\n3.4',
 'Change Research\n3.0',
 'Charles River Laboratories\n3.5',
 'Cheetah Mobile\n3.0',
 'Chelsea Search Group',
 'Chime\n4.4',
 'Chime\n4.5',
 'Chinese Hospital\n3.8',
 'CipherTrace\n4.2',
 'CircleCI\n3.7',
 'CircleCI\n3.8',
 'Cisco Systems\n4.3',
 'CitiusTech\n3.8',
 'Clearbit\n4.3',
 'ClimateAI',
 'Clinical Management Consultants\n3.5',
 'Cloudflare\n4.1',
 'Codexis\n3.2',
 'Cogitativo\n5.0',
 'Cognizant Technology Solutions\n3.8',
 'Coherus BioSciences\n4.4',
 'Coherus BioSciences\n4.5',
 'Collective Health\n3.8',
 'Colsh Consultants\n4.6',
 'Commonstock',
 'Compassion Pathways',
 'Compunnel Software Group\n3.8',
 'Confluent\n4.5',
 'Confluent\n4.6',
 'Contus\n4.2',
 'CooTek\n4.2',
 'Cornershop by Uber\n4.4',
 'Cotocus',
 'Couchbase\n4.8',
 'County of Contra Costa\n4.0',
 'County of San Mateo\n4.0',
 'Course Hero\n4.8',
 'Covered California\n3.8',
 'Creative Circle\n3.6',
 'Creative Circle\n3.7',
 'Credible\n4.3',
 'Cree Inc\n3.4',
 'CriticalRiver Technologies Inc.\n4.6',
 'Cruise\n3.6',
 'Cuberg\n4.7',
 'Curai\n3.9',
 'CyberCoders\n4.0',
 'CyberCoders\n4.1',
 'CytomX Therapeutics, Inc.\n3.4',
 'DNA Script\n5.0',
 'DNAnexus\n4.7',
 'DTEX Systems\n3.6',
 'DataVisor\n4.5',
 'Databricks\n4.8',
 'Datatron Technologies\n4.2',
 'DeepMap, Inc\n4.5',
 'Deeproute.ai\n5.0',
 'Del Monte Foods, Inc.\n3.4',
 'Dell Technologies\n4.2',
 'Denali System Co., Ltd\n3.0',
 'Denali Therapeutics\n3.7',
 'DiDi Labs\n3.7',
 'Dictionary.com\n3.0',
 'Diffbot\n4.6',
 'Dimensional Control Systems\n3.8',
 'Discord\n4.8',
 'Divvy Homes\n3.8',
 'DocuSign\n4.6',
 'Dolby\n4.3',
 'DoorDash\n3.9',
 'DoorDash\n4.0',
 'ELT Solutions',
 'EOS\n3.5',
 'EOS\n3.6',
 'EOS\n3.7',
 'EPM Scientific\n2.3',
 'Earli, Inc.\n3.2',
 'Ease\n3.4',
 'Edgesource Corporation\n3.9',
 'Electronic Arts\n4.1',
 'Eluvio\n5.0',
 'Embark Trucks\n4.4',
 'Energy Solutions\n3.7',
 'Epic\n4.7',
 'Epic Games\n4.2',
 'Equinix\n4.4',
 'Ericsson-Worldwide\n4.0',
 'Eugenus Inc\n2.0',
 'Eurofins Central Laboratory\n3.3',
 'Exponent\n3.6',
 'Exponent\n3.8',
 'Extend\n4.6',
 'F5\n4.1',
 'FICO\n3.9',
 'FT Optimize\n5.0',
 'Facebook\n4.3',
 'Faire\n4.7',
 'Fanatics\n3.9',
 'Fanatics Inc.\n3.9',
 'Feedzai\n4.0',
 'Feedzai\n4.1',
 'FibroGen, Inc.\n3.7',
 'Finrise\n5.0',
 'First Place for Youth\n3.2',
 'First Republic Bank\n4.3',
 'Fiserv\n3.3',
 'Fiserv\n3.4',
 'Fluence\n2.5',
 'FocusKPI Inc.\n3.3',
 'Food Management Search',
 'Ford Motor Company\n4.1',
 'Forethought\n5.0',
 'Forward\n4.5',
 'Fracta\n4.5',
 'Freenome\n4.9',
 'Freenome Holdings\n4.9',
 'Fremont Bank\n3.0',
 'FutureSoft IT\n5.0',
 'Fyusion\n3.6',
 'GRAIL, Inc.\n3.4',
 'GSK\n3.8',
 'GSN Games\n3.3',
 'Gables Search Group\n3.9',
 'Galvanize\n4.6',
 'Galvanize Inc.\n4.5',
 'Gap Inc.\n3.7',
 'Geli\n3.4',
 'Genentech\n4.3',
 'Gilead Sciences\n3.8',
 'Glassdoor\n3.8',
 'Global Inc\n3.8',
 'Glu Mobile\n4.2',
 'GokeUSLab\n1.3',
 'Goldman Sachs\n4.0',
 'Goodway Group\n4.5',
 'Google\n4.5',
 'Gotion, Inc.\n4.1',
 'Grabango\n3.7',
 'Grammarly, Inc.\n5.0',
 'Granular\n3.5',
 'Granular\n3.6',
 'Grid Dynamics\n4.3',
 'GroundTruth\n3.8',
 'Grove Collaborative\n3.4',
 'Guidehouse\n3.8',
 'Guidewire Software, Inc.\n4.4',
 'HCL Technologies\n3.7',
 'Happy Elements\n4.1',
 'Harmonize\n3.9',
 'Harnham\n3.8',
 'Harnham US\n3.8',
 'Health Plan of San Mateo\n3.8',
 'Health at Scale Corporation',
 'Hearth\n2.9',
 'Heluna Health\n3.4',
 'Hinge Health\n4.6',
 'HopHR',
 'Houzz\n4.0',
 'Humanyze\n3.5',
 'IBM\n3.9',
 'IDEASVOICE\n4.0',
 'Impossible Foods\n4.3',
 'Incept Data Solutions, Inc\n5.0',
 'Indeed\n4.3',
 'Innoplexus\n3.7',
 'Innoplexus\n3.9',
 'Innovyt',
 'Instacart - Corporate\n3.8',
 'Intel\n4.1',
 'Intel\n4.2',
 'Intelliswift Software Inc\n3.8',
 'Intelygenz Inc\n3.6',
 'Intelygenz Inc\n3.7',
 'Intercom\n2.0',
 'International Consulting Group Inc.',
 'Intuit\n4.5',
 'Intuit - Data\n4.5',
 'Intuitive\n4.6',
 'Iron Ox',
 'Iron Ox, Inc.',
 'Ironclad, Inc.\n4.7',
 'JD.com\n3.6',
 'JLL\n3.9',
 'JM Talent Inc.',
 'January',
 'Jazz Pharma\n4.1',
 'Jerry\n3.4',
 'Jobot\n4.8',
 'Joby Aviation\n4.2',
 'Johnson & Johnson Family of Companies\n4.2',
 'Johnson Controls\n3.5',
 'Juniper Networks\n3.9',
 'KLA-Tencor\n3.9',
 'KPMG\n3.9',
 'Kaiser Permanente\n4.0',
 'Kelly\n3.5',
 'Kodiak Robotics\n4.5',
 'Komodo Health\n4.4',
 'Komodo Health\n4.5',
 'Kuaishou Technology\n4.1',
 'LG Energy Solution Michigan, Inc.\n2.7',
 'LGC Limited\n3.5',
 'LGC Limited\n3.6',
 'LVIS Corporation',
 'LaBine and Associates\n5.0',
 'Laboratory Corporation of America Holding\n3.3',
 'Laguna Source',
 'LakePharma, Inc.\n2.5',
 'Lawrence Berkeley National Laboratory\n4.3',
 'Lawrence Livermore National Laboratory\n4.6',
 'Lead5 Media\n4.0',
 'Ledgent Technology\n4.1',
 'LegalZoom\n3.2',
 'Lemonaid Health\n4.9',
 'Levi Strauss\n4.1',
 'Levi Strauss & Co.\n4.1',
 'Lighthouse Lab Services',
 'Lily AI\n4.5',
 'Loom\n4.9',
 'LotusFlare, Inc.\n4.3',
 'Lucid Motors\n4.1',
 'Luminostics',
 'Lyft\n3.9',
 'Lyra Health\n4.6',
 'Lyra Health\n4.8',
 'MATRIX Resources\n4.3',
 'MIcrovi Biotech\n4.2',
 'MOLOCO\n4.1',
 'MOLOCO\n4.2',
 'MW Partners\n4.0',
 'MadKudu\n5.0',
 'Made Renovation\n3.3',
 'Madison Reed\n4.0',
 'MarinHealth Medical Center\n3.4',
 'Marqeta\n4.5',
 'Mason Tillman Associates\n2.7',
 'MasterClass\n4.5',
 'Match Group\n4.0',
 'Match Relevant\n4.3',
 'Matroid\n5.0',
 'McAfee\n3.6',
 "McDonald's Corporate\n3.5",
 'Mendel\n2.4',
 'Metromile\n4.2',
 'Metromile\n4.3',
 'Microsoft\n4.4',
 'Minaris Regenerative Medicine\n3.1',
 'Mirabilis Design\n4.7',
 'Mitre Corporation\n3.8',
 'Monterey Bay Analytical Services',
 "Moody's Corporation\n3.8",
 'Moveworks\n4.8',
 'Moveworks.ai\n4.8',
 'Mythic-AI\n4.5',
 'N3TWORK\n5.0',
 'NCIRE\n3.4',
 'NGUSoft\n4.4',
 'NVIDIA\n4.7',
 'NVIGEN\n3.0',
 'Nauto\n4.1',
 'NephroSant, Inc.',
 'Nestle USA\n4.0',
 'Nestle USA\n4.1',
 'Netflix\n4.1',
 'NeuroTrainer',
 'New Relic\n3.9',
 'Next Insurance\n4.7',
 'NextEra Energy\n3.8',
 'NextGen America\n3.7',
 'Nextdoor\n4.6',
 'Niantic\n3.5',
 'Niantic\n3.6',
 'Nkarta, Inc.\n5.0',
 'Noodle.ai\n3.8',
 'NotCo\n3.6',
 'Notable Labs\n5.0',
 'Notion\n4.8',
 'Nova Measuring Instruments\n3.8',
 'Nuna\n4.0',
 'Nurix\n4.0',
 'Nuro\n4.2',
 'NutaNXT Technologies\n3.8',
 'NutaNXT Technologies\n4.0',
 'Nutcracker Therapeutics\n5.0',
 'NxT Level\n5.0',
 'ONX\n4.3',
 'OPPO US Research Center\n4.5',
 'Oak Valley Hospital District\n3.3',
 'Omniscience\n2.3',
 'On-Board Companies\n3.4',
 'One Concern\n3.7',
 'Onto Innovation\n3.6',
 'Onward Search\n3.8',
 'Opendoor\n3.8',
 'Oportun. Inc\n4.2',
 'Opsani\n5.0',
 'Optra Systems\n2.9',
 'Ordr',
 'Ordr, Inc.\n4.5',
 'Osaro\n4.8',
 'Ossium Health\n5.0',
 'Oura\n4.9',
 'Oxford Global Resources\n3.6',
 'Oxygen\n3.5',
 'PAX Labs\n2.8',
 'PG&E Corporation\n3.8',
 'Palo Alto Networks\n3.9',
 'Parker Institute for Cancer Immunotherapy\n3.7',
 'Parker Institute for Cancer Immunotherapy\n4.0',
 'Pasona N A, Inc.\n3.8',
 'PayJoy\n4.6',
 'PayPal\n4.1',
 'Pendulum.co\n4.3',
 'Penumbra US\n3.9',
 'PerformanceStar\n2.0',
 'Personalis, Inc\n3.8',
 'Personalis, Inc\n3.9',
 'Picarro\n3.0',
 'PicnicHealth\n4.7',
 'Pinterest\n4.2',
 'Pinterest\n4.3',
 'Pixalate, Inc.\n3.5',
 'Pixelberry Studios\n4.5',
 'Plaid\n4.0',
 'Plaid\n4.6',
 'Plato',
 'Plenty\n3.6',
 'Plenty\n3.7',
 'Plum Lending\n4.1',
 'Plus\n5.0',
 'Pocket Worlds\n4.6',
 'Point\n4.9',
 'Poshmark\n4.6',
 'Power Integrations\n3.8',
 'Primary Talent Partners\n3.9',
 'Proclinical Staffing\n4.2',
 'Procyon technostructure\n4.0',
 'Proofpoint\n4.0',
 'PubMatic\n4.2',
 'PubNub\n4.0',
 'Punchh\n4.1',
 'Pyramid Consulting, Inc\n3.9',
 'Qualys\n3.6',
 'Quantifind\n4.2',
 'RAPP\n3.6',
 'RAPP\n3.7',
 'REDICA Systems',
 'RELX Group\n3.1',
 'Randstad General Staffing\n3.9',
 'Raybeam, Inc.\n4.8',
 'Riiid Labs\n5.0',
 'Rivian Automotive\n4.3',
 'Robby Technologies\n4.0',
 'Robert Half Corporate Internal\n3.7',
 'Robinhood\n4.3',
 'Robinhood\n4.4',
 'Roblox\n4.4',
 'Roblox\n4.5',
 'Roche\n4.3',
 'Ryder System\n3.5',
 'SACC INC\n3.5',
 'SADA\n4.8',
 'SKT Lab',
 'SRA OSS\n3.5',
 'SRG\n3.9',
 'STAR Labs\n3.5',
 'SafeTraces, Inc.',
 'Salesforce\n4.4',
 'Salesforce\n4.5',
 'Samsung Electronics America\n3.5',
 'Samsung SDS America\n3.5',
 'ScaleMonk',
 'Seasoned, LLC\n4.7',
 'Second Genome\n4.7',
 'Secureworks\n4.2',
 'Seer\n5.0',
 'Sensor Tower\n4.0',
 'Sentient Energy\n3.1',
 'Sentient Energy\n3.9',
 'Shoe Palace Corporation\n3.3',
 'Shoe Palace Corporation\n3.5',
 'Sightline Payments\n4.4',
 'Sigma Inc\n4.1',
 'Sigmaways, Inc.\n3.9',
 'Sikka Software\n3.8',
 'SiriusXM\n3.7',
 'SiriusXM\n3.8',
 'Sisu',
 'Sitecore\n3.6',
 'Sitecore\n3.7',
 'Skan\n4.8',
 'Slack\n4.7',
 'Slalom LLC.\n4.3',
 'Snapchat\n4.1',
 'Snapchat\n4.2',
 'SoFi\n3.6',
 'Sony Corporation of America\n3.1',
 'Sony Interactive Entertainment PlayStation\n4.0',
 'Sony PlayStation\n4.0',
 'SpanIdea\n3.8',
 'Spartan Technologies\n3.0',
 'Specific Diagnostics\n3.5',
 'Spin\n3.5',
 'Spin\n4.3',
 'Splunk\n4.1',
 'Splunk\n4.2',
 'Spring Discovery\n4.0',
 'Squadex\n3.0',
 'Square\n4.3',
 'Stanford University\n4.2',
 'Stealth Mode Startup\n4.0',
 'Stealth Mode Startup\n4.1',
 'Stealth Mode Startup Company',
 'Step\n2.6',
 'Step Mobile\n4.2',
 'Stitch Fix\n3.7',
 'Store No. 8\n4.4',
 'Strategi.biz',
 'StubHub\n3.4',
 'Sunshine',
 'SupportLogic\n5.0',
 'Surya Systems\n4.0',
 'Susquehanna International Group\n4.0',
 'Sutro Biopharma\n4.1',
 'SymphonyAI\n4.3',
 'Synapse Financial Technologies Inc\n3.8',
 'Synopsys\n4.1',
 'TCL Research America\n4.0',
 'TEKPLAY SYSTEMS\n3.6',
 'TEKsystems\n3.8',
 'Tailored Management\n4.4',
 'Tapjoy\n3.6',
 'TargetCW\n4.4',
 'TaskRabbit\n4.0',
 'TechTrueUP\n3.6',
 'Technosoft Global',
 'Teknatio\n5.0',
 'Tekrek Solutions',
 'Teladoc Health\n4.0',
 'Tempus\n3.3',
 'Tempus Labs\n3.2',
 'Tesla\n3.8',
 'The Climate Corporation\n3.5',
 'The Climate Corporation\n3.6',
 'The Mom Project\n4.8',
 'The Rockridge Group\n2.3',
 'Thermo Fisher - America\n3.8',
 'Thermo Fisher Scientific\n3.8',
 'ThirdLove\n3.6',
 'Tiger Analytics\n4.4',
 'TikTok\n3.8',
 'Tinder\n3.7',
 'Tinder\n4.0',
 'Toyota Research Institute\n3.8',
 'TuSimple, Inc.\n4.4',
 'Tubi\n4.2',
 'Turo\n4.5',
 'Turo\n4.6',
 'Twilio\n4.4',
 'Twist Bioscience\n4.2',
 'Twitch\n3.9',
 'Twitch Interactive, Inc.\n3.8',
 'Twitter\n4.2',
 'UC Hastings\n3.6',
 'UC San Francisco Academic\n4.1',
 'UC San Francisco Academic\n4.2',
 'Uber\n4.0',
 'Udemy\n4.7',
 'Ultimate Staffing Services\n3.3',
 'UnifyID\n4.2',
 'Uniphore\n4.4',
 'Universities Space Research Association\n3.6',
 'University of California Berkeley\n4.4',
 'University of California San Francisco\n4.1',
 'University of California San Francisco\n4.2',
 'University of California Santa Cruz\n4.1',
 'University of California, Davis\n4.4',
 'Unlearn.AI\n5.0',
 'Unstoppable Domains\n4.9',
 'Upstart\n4.4',
 'Upstart Network, Inc.\n4.4',
 'Ursus\n4.4',
 'UserLeap\n5.0',
 'V-Soft Consulting Group, Inc.\n3.7',
 'VIZIO, Inc.\n4.0',
 'VIZIO, Inc.\n4.1',
 'VMware\n4.3',
 'Varo Bank\n3.7',
 'Varo Money\n3.7',
 'Vectra\n2.8',
 'Veeva Systems\n4.1',
 'Verana Health\n3.8',
 'Verb Surgical\n3.5',
 'Verkada\n4.0',
 'Viaduct\n5.0',
 'Visual Concepts\n4.2',
 'Vitria Technology\n3.5',
 'Vungle\n4.0',
 'Walmart\n3.4',
 "Warman O'Brien",
 'Waymo\n4.0',
 'Waymo\n4.1',
 'WeDriveU, Inc.\n3.6',
 'Wealthfront\n4.5',
 'Webhelp Americas\n3.2',
 'Wells Fargo\n3.6',
 'Wells Fargo Bank\n3.6',
 'WhoWhatWhy\n2.3',
 'Wider Circle\n4.8',
 'Wild Type\n5.0',
 'Williams Sonoma\n3.1',
 'Wing\n2.1',
 'Wish\n3.3',
 'Wish\n3.4',
 'Woodruff Sawyer\n4.0',
 'Workday\n4.3',
 'Workforce Logiq\n4.1',
 'Wyzant\n4.1',
 'Xerox\n3.2',
 'Xerox\n3.3',
 'Xoriant Corporation\n4.0',
 'Yardzen\n5.0',
 'ZS Associates\n4.0',
 'Zeta Global\n3.7',
 'Zipcar, Inc.\n3.5',
 'Zipline\n4.3',
 'Zscaler\n4.7',
 'Zymergen\n3.2',
 'a.k.a. Brands',
 'centraprise',
 'dunnhumby\n4.1',
 'eBay\n4.0',
 'eBay Inc.\n4.0',
 'eHealth\n3.7',
 'f5\n4.1',
 'freshworks\n4.3',
 'iFoodDecisionSciences',
 'infolob\n4.3',
 'kover\n4.0',
 'test.ai',
 'tunein\n4.4'}

> ‚ùì Questions: 3.\
  \
  Which companies do we need to aggregate names for?

Aggregate: Amazon, Parker Institute for/of Cancer Immunotherapy, Sony, Stealth Mode Startup, Twitch, Wells Fargo, Varo\
Remove: financial services company, information technology sector

Let's build out the cleaner for both splitting the ratings and handling these aggregations and removes.

In [18]:
replace_company_names = {"Amazon": "Amazon", 
                         "Parker Institute": "Parker Institute for Cancer Immunotherapy", 
                         "Sony": "Sony", 
                         "Stealth Mode": "Stealth Mode", 
                         "Twitch": "Twitch", 
                         "Wells Fargo": "Wells Fargo", 
                         "Varo": "Varo"}

remove_company_names = ["financial services company", "information technology sector"]

In [19]:
# 1. Split company and rating and change rating dtype.
# 2. Aggregate similar company names. 
# 3. Remove non-company names. 

class CompanyRatingSplit(BaseEstimator, TransformerMixin):
    def __init__(self, idx=1):
        self.idx = idx
        
    def _split_rating(self, X):
        X_copy = X.copy()
        company_rating = (X_copy["company"]
                          .apply(lambda company: pd.Series(company.split("\n")))
                          .set_axis(["company", "rating"], axis=1))
        X_copy["company"] = company_rating["company"]
        X_copy.insert(self.idx, "rating", company_rating["rating"])
        X_copy.rating = X_copy.rating.astype("float64")
        
        return X_copy
        
    def fit(self, X, y=None):
        return self
        
    def transform(self, X):
        X_copy = X.copy()
        X_copy = self._split_rating(X_copy)
        
        return X_copy
    
class AggregateCompanyNames(BaseEstimator, TransformerMixin):
    def __init__(self, company_names):
        self.company_names = company_names
    
    def fit(self, X, y=None):
        # Ideally, you would have a learnable algorithm to find similar names.
        # Or, you have some simple NLP method to match similar words together.
        # But this gets finnicky when you encounter "University of California, Berkeley"
        # and "University of California, Davis".
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        for k, v in self.company_names.items():
            filter_ = X_copy["company"].apply(lambda company: True if k.lower() in company.lower() else False)
            X_copy.loc[filter_, "company"] = v
            
        return X_copy.reset_index(drop=True)
    
class RemoveNonCompanyNames(BaseEstimator, TransformerMixin):
    def __init__(self, company_names):
        self.company_names = company_names
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        for c in self.company_names:
            X_copy = X_copy[X_copy.company != c]
        
        return X_copy.reset_index(drop=True)

We know from a previous observation that there are NaNs in the ratings. Let's first fill NaNs by the company rating (if the commpany has multiple joblistings and some of them have ratings). Then, we will fill by global average rating.

In [20]:
# 1. Fill rating by average company rating.
# 2. Fill by average rating.
    
class FillRatingByCmpnyAvg(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def _fill_nans_with_cmpny_avg_rating(self, cmpny_set, df):
        for company in cmpny_set:
            ratings = df[df.company == company]["rating"]
            ratings_nans = ratings[ratings.isna().values]
            nan_idx = list(ratings_nans.index)
            ratings_avg = round(ratings.mean(), 1)
            for idx in nan_idx:
                df.at[idx, "rating"] = ratings_avg
    
    def fit(self, X, y=None):
        X_copy = X.copy()
        
        companies = X_copy["company"].value_counts()
        idx_of_missing_rates = [company for company in companies.index if "\n" not in company]
        avg_cmpny_ratings = X_copy.groupby("company").mean()["rating"]
        no_rating = avg_cmpny_ratings.isna().values
        no_rating_cmpny = avg_cmpny_ratings.index[no_rating]
        
        self.companies_with_ratings = set(idx_of_missing_rates).difference(set(no_rating_cmpny))
        
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        self._fill_nans_with_cmpny_avg_rating(self.companies_with_ratings, X_copy)
        
        return X_copy
    
class FillRatingByAvg(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass

    def fit(self, X, y=None):
        X_copy = X.copy()
        
        self.avg_rating = round(X_copy.rating.mean(), 1)
        
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        X_copy.rating = X_copy.rating.fillna(self.avg_rating)
        
        return X_copy

In [21]:
clean_company_pipeline = Pipeline([
    ("company_rating_split", CompanyRatingSplit()),
    ("company_aggregate", AggregateCompanyNames(replace_company_names)),
    ("company_remove", RemoveNonCompanyNames(remove_company_names))
])

clean_rating_pipeline = Pipeline([
    ("rating_fill_by_cmpny_avg", FillRatingByCmpnyAvg()),
    ("rating_fill_by_avg", FillRatingByAvg())
])

In [22]:
df_clean = clean_company_pipeline.fit_transform(df_clean)
df_clean = clean_rating_pipeline.fit_transform(df_clean)

In [23]:
df_clean.company.value_counts()

Facebook                       119
Ursus                           51
Uber                            43
Salesforce                      42
Amazon                          41
                              ...
Sigmaways, Inc.                  1
Dimensional Control Systems      1
infolob                          1
ALLDATA                          1
PayJoy                           1
Name: company, Length: 601, dtype: int64

> üìë conclusions_univariate: [0, "company"].\
  \
  There seems to be a lot of companies posting just\
  one joblisting making it difficult to use for machine learning.\
  I could try different methods of sampling, but I'll hold off on this for now.

In [24]:
for company in list(df_clean["company"].values):
    if "-1" in company: print("Missing company.")

> üìë conclusions_univariate: [1, "company"].\
  \
  Company has no missing values.\
  They also have no outliers.

In [25]:
df_clean.head()

,company,rating,headquarters,salary estimate,job type,size,type,sector,revenue
0,Walmart,3.4,"Sunnyvale, CA",-1,Job Type : N/A,10000+ employees,company - public,retail,$10+ billion (usd)
1,TikTok,3.8,"Mountain View, CA",-1,Job Type : Full-time,501 to 1000 employees,company - private,information technology,unknown / non-applicable
2,Indeed,4.3,"San Francisco, CA",Employer Provided Salary:$187K - $231K,Job Type : Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
3,Indeed,4.3,"San Francisco, CA",Employer Provided Salary:$130K - $156K,Job Type : Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
4,Thermo Fisher - America,3.8,"San Francisco, CA",-1,Job Type : N/A,10000+ employees,company - public,biotech & pharmaceuticals,$10+ billion (usd)

### 5.2. headquarters

In [26]:
df_clean.headquarters.isna().sum(), df_clean.headquarters.unique()

(0,
 array(['Sunnyvale, CA', 'Mountain View, CA', 'San Francisco, CA',
        'United States', 'San Jose, CA', 'Livermore, CA', 'Palo Alto, CA',
        'Santa Clara, CA', 'Oakland, CA', 'San Mateo, CA', 'Los Altos, CA',
        'Foster City, CA', 'Morgan Hill, CA', 'Newark, CA',
        'Menlo Park, CA', 'Senior Data Scientist', 'Staff Data Scientist',
        'Redwood City, CA', 'Cupertino, CA', 'Burlingame, CA',
        'Emeryville, CA', 'South San Francisco, CA', 'Pleasanton, CA',
        'Los Gatos, CA', 'Half Moon Bay, CA', 'Sausalito, CA',
        'San Carlos, CA', 'Brisbane, CA', 'Elk Grove, CA',
        'Business Data Analyst', 'Pittsburg, CA', 'Sacramento, CA',
        'Fremont, CA', 'Concord, CA', 'East Palo Alto, CA', 'Milpitas, CA',
        'Patterson, CA', 'Berkeley, CA', 'San Bruno, CA', 'Hercules, CA',
        'San Ramon, CA', 'Staff Business Data Analysis',
        'Economist - Machine Learning Engineer',
        'Manager 3 Data and Analytics', 'Principal Data Scientist',
        'Alameda, CA', 'Scotts Valley, CA', 'Petaluma, CA',
        'Greenbrae, CA', 'Rancho Cordova, CA', 'Saint Helena, CA',
        'Oakdale, CA', 'Clearlake, CA', 'Walnut Creek, CA', 'Lodi, CA',
        'Stanford, CA', 'Staff Data Scientist - Product Analytics',
        'Staff Business Data Analyst', 'Senior Technical Data Analyst',
        'Tracy, CA', 'Hayward, CA', 'Staff Machine Learning Engineer',
        'Group Manager - Data Science', 'Stockton, CA', 'Dublin, CA',
        'Bellevue, CA', 'Richmond, CA', 'Monterey, CA',
        'Staff Business Data Analyst, Ecosystem Fraud Prevention',
        'Martinez, CA', 'Davis, CA', 'Senior Business Data Analyst',
        'West Sacramento, CA', 'Novato, CA'], dtype=object))

> üìë conclusions_univariate: [0, "headquarters"].\
  \
  There are no NaNs and no -1s, however, though the headquarters unique values\
  are mostly fine, there seem to be a lot of mix in with what seems to be\
  "job title".

In [27]:
headquarter_value_counts = df_clean.headquarters.value_counts()
headquarter_value_counts

San Francisco, CA                           986
Menlo Park, CA                              173
Mountain View, CA                           139
San Jose, CA                                127
Palo Alto, CA                               116
                                           ...
Staff Data Scientist - Product Analytics      1
Tracy, CA                                     1
Staff Business Data Analyst                   1
Pittsburg, CA                                 1
West Sacramento, CA                           1
Name: headquarters, Length: 74, dtype: int64

> üîç observations_univariate: [0, "headquarters"].\
  \
  We can omit the NaNs for where job titles are since there aren't that many.

> ‚ùì Questions: 4.\
  \
  Can we extract all the non-headquarter unique entries?

In [28]:
# Since, all actual headquarter locations are located in California, 
# I will parse the indices and simply check which ones don't have CA.

no_ca = headquarter_value_counts.index[headquarter_value_counts.index.map(lambda hq: "CA" not in hq)]
no_ca

Index(['United States', 'Business Data Analyst',
       'Staff Machine Learning Engineer', 'Senior Technical Data Analyst',
       'Staff Business Data Analysis', 'Economist - Machine Learning Engineer',
       'Senior Data Scientist', 'Principal Data Scientist',
       'Staff Business Data Analyst, Ecosystem Fraud Prevention',
       'Manager 3 Data and Analytics', 'Staff Data Scientist',
       'Group Manager - Data Science', 'Senior Business Data Analyst',
       'Staff Data Scientist - Product Analytics',
       'Staff Business Data Analyst'],
      dtype='object')

> üîç observations_univariate: [1, "headquarters"].\
  \
  United States is a location and it is one unique value in the "headquarters" column.\
  However, since CA is in the US, having the location of US doesn't help much if there aren't\
  joblistings also coming in internationally. We will remove US alongside all the \
  other job titles.

In [29]:
df_clean[df_clean.headquarters == "United States"]

,company,rating,headquarters,salary estimate,job type,size,type,sector,revenue
9,Mitre Corporation,3.8,United States,-1,Job Type : Full-time,5001 to 10000 employees,nonprofit organization,government,$1 to $2 billion (usd)
43,Apple,4.3,United States,-1,Job Type : N/A,10000+ employees,company - public,information technology,$10+ billion (usd)
49,Apple,4.3,United States,-1,Job Type : N/A,10000+ employees,company - public,information technology,$10+ billion (usd)
55,Apple,4.3,United States,-1,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
64,Apple,4.3,United States,-1,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
70,Apple,4.3,United States,-1,Job Type : N/A,10000+ employees,company - public,information technology,$10+ billion (usd)
94,Apple,4.3,United States,-1,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
96,Apple,4.3,United States,-1,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
105,Apple,4.3,United States,-1,Job Type : N/A,10000+ employees,company - public,information technology,$10+ billion (usd)

> üîç observations_univariate: [2, "headquarters"].\
  \
  Most jobs have a correct headquarters location. For those that don't, we will simply remove those instances from the dataset.

In [30]:
is_extraneous = [True if "CA" not in hq else False for hq in df_clean.headquarters]
df_clean[is_extraneous]

,company,rating,headquarters,salary estimate,job type,size,type,sector,revenue
9,Mitre Corporation,3.8,United States,-1,Job Type : Full-time,5001 to 10000 employees,nonprofit organization,government,$1 to $2 billion (usd)
43,Apple,4.3,United States,-1,Job Type : N/A,10000+ employees,company - public,information technology,$10+ billion (usd)
49,Apple,4.3,United States,-1,Job Type : N/A,10000+ employees,company - public,information technology,$10+ billion (usd)
55,Apple,4.3,United States,-1,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
64,Apple,4.3,United States,-1,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
70,Apple,4.3,United States,-1,Job Type : N/A,10000+ employees,company - public,information technology,$10+ billion (usd)
94,Apple,4.3,United States,-1,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
96,Apple,4.3,United States,-1,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
105,Apple,4.3,United States,-1,Job Type : N/A,10000+ employees,company - public,information technology,$10+ billion (usd)
142,Intuit - Data,4.5,Senior Data Scientist,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
143,Intuit - Data,4.5,Staff Data Scientist,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
275,Intuit - Data,4.5,Business Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
439,Intuit - Data,4.5,Business Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
578,Intuit - Data,4.5,Staff Business Data Analysis,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
734,Instacart - Corporate,3.8,Economist - Machine Learning Engineer,"San Francisco, CA",Job Type : Full-time,1001 to 5000 employees,company - private,information technology,unknown / non-applicable
741,Intuit - Data,4.5,Manager 3 Data and Analytics,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
773,Intuit - Data,4.5,Principal Data Scientist,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
783,Intuit - Data,4.5,Senior Data Scientist,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
977,Intuit - Data,4.5,Staff Business Data Analysis,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
983,Intuit - Data,4.5,Manager 3 Data and Analytics,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
988,Intuit - Data,4.5,Business Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
999,Intuit - Data,4.5,Staff Data Scientist - Product Analytics,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1000,Intuit - Data,4.5,Staff Business Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1006,Intuit - Data,4.5,Staff Data Scientist,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1016,Intuit - Data,4.5,Senior Data Scientist,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1025,Intuit - Data,4.5,Principal Data Scientist,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1075,Intuit - Data,4.5,Senior Technical Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1078,Intuit - Data,4.5,Senior Technical Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1133,Intuit - Data,4.5,Senior Technical Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1215,Intuit - Data,4.5,Staff Machine Learning Engineer,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1238,Intuit - Data,4.5,Group Manager - Data Science,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1328,Intuit - Data,4.5,Group Manager - Data Science,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1457,Intuit - Data,4.5,"Staff Business Data Analyst, Ecosystem Fraud P...","Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1540,Intuit - Data,4.5,"Staff Business Data Analyst, Ecosystem Fraud P...","Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1643,Intuit - Data,4.5,Staff Business Data Analysis,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1648,Intuit - Data,4.5,Business Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1652,Intuit - Data,4.5,Business Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1656,Intuit - Data,4.5,Senior Business Data Analyst,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1779,Intuit - Data,4.5,Principal Data Scientist,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
1971,Instacart - Corporate,3.8,Economist - Machine Learning Engineer,"San Francisco, CA",Job Type : Full-time,1001 to 5000 employees,company - private,information technology,unknown / non-applicable
2005,Intuit - Data,4.5,Staff Machine Learning Engineer,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
2006,Intuit - Data,4.5,Staff Machine Learning Engineer,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
2088,Instacart - Corporate,3.8,Economist - Machine Learning Engineer,"San Francisco, CA",Job Type : Full-time,1001 to 5000 employees,company - private,information technology,unknown / non-applicable
2178,Intuit - Data,4.5,Staff Machine Learning Engineer,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)
2290,Intuit - Data,4.5,Staff Machine Learning Engineer,"Mountain View, CA",Job Type : Full-time,5001 to 10000 employees,company - public,information technology,$2 to $5 billion (usd)

> üîç misc_obsvtn: [1,].\
  \
  I was originally going to drop whatever rows have "headquarters" unique values\
  corresponding to job_titles however I realized that they\
  actually included the headquarters, it was just wrongly placed.\
  However, since they are all missing salary estimates (and I cannot infer\
  this salary estimate from similar instances), I will simply drop them as they\
  don't pose a significant contribution to my dataset (as there are only 9 instances).\
  Edit: Not 9 anymore with the introduction of a new batch of data,\
  but still negligible compared to the size of the data.

Let's build our cleaner pipeline for headquarters.

In [31]:
# 1. Remove extraneous HQs.

class RemoveExtraneousHQ(BaseEstimator, TransformerMixin):
    def __init__(self,):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        filter_ = [False if "CA" not in hq else True for hq in X_copy.headquarters]
        
        return X_copy[filter_].reset_index(drop=True)

In [32]:
clean_hq_pipeline = Pipeline([
    ("remove_ext_hq", RemoveExtraneousHQ())
])

In [33]:
df_clean = clean_hq_pipeline.fit_transform(df_clean)

In [34]:
df_clean.headquarters.unique()

array(['Sunnyvale, CA', 'Mountain View, CA', 'San Francisco, CA',
       'San Jose, CA', 'Livermore, CA', 'Palo Alto, CA',
       'Santa Clara, CA', 'Oakland, CA', 'San Mateo, CA', 'Los Altos, CA',
       'Foster City, CA', 'Morgan Hill, CA', 'Newark, CA',
       'Menlo Park, CA', 'Redwood City, CA', 'Cupertino, CA',
       'Burlingame, CA', 'Emeryville, CA', 'South San Francisco, CA',
       'Pleasanton, CA', 'Los Gatos, CA', 'Half Moon Bay, CA',
       'Sausalito, CA', 'San Carlos, CA', 'Brisbane, CA', 'Elk Grove, CA',
       'Pittsburg, CA', 'Sacramento, CA', 'Fremont, CA', 'Concord, CA',
       'East Palo Alto, CA', 'Milpitas, CA', 'Patterson, CA',
       'Berkeley, CA', 'San Bruno, CA', 'Hercules, CA', 'San Ramon, CA',
       'Alameda, CA', 'Scotts Valley, CA', 'Petaluma, CA',
       'Greenbrae, CA', 'Rancho Cordova, CA', 'Saint Helena, CA',
       'Oakdale, CA', 'Clearlake, CA', 'Walnut Creek, CA', 'Lodi, CA',
       'Stanford, CA', 'Tracy, CA', 'Hayward, CA', 'Stockton, CA',
       'Dublin, CA', 'Bellevue, CA', 'Richmond, CA', 'Monterey, CA',
       'Martinez, CA', 'Davis, CA', 'West Sacramento, CA', 'Novato, CA'],
      dtype=object)

### 5.3. salary estimate

In [35]:
df_clean["salary estimate"].unique()

array(['-1', 'Employer Provided Salary:$187K - $231K',
       'Employer Provided Salary:$130K - $156K',
       'Employer Provided Salary:$190K',
       'Employer Provided Salary:$120K - $160K',
       'Employer Provided Salary:$115K', '$99K - $170K (Glassdoor est.)',
       '$94K - $169K (Glassdoor est.)', '$108K - $197K (Glassdoor est.)',
       '$91K - $151K (Glassdoor est.)', '$63K - $133K (Glassdoor est.)',
       '$126K - $222K (Glassdoor est.)', '$75K - $162K (Glassdoor est.)',
       '$85K - $177K (Glassdoor est.)', '$101K - $179K (Glassdoor est.)',
       '$96K - $154K (Glassdoor est.)', '$107K - $186K (Glassdoor est.)',
       '$100K - $170K (Glassdoor est.)', '$43K - $79K (Glassdoor est.)',
       '$80K - $151K (Glassdoor est.)', '$94K - $130K (Glassdoor est.)',
       '$127K - $201K (Glassdoor est.)', '$83K - $159K (Glassdoor est.)',
       '$82K - $167K (Glassdoor est.)', '$76K - $156K (Glassdoor est.)',
       '$79K - $161K (Glassdoor est.)', '$90K - $174K (Glassdoor est.)',
       '$92K - $160K (Glassdoor est.)', '$88K - $172K (Glassdoor est.)',
       '$110K - $216K (Glassdoor est.)', '$84K - $175K (Glassdoor est.)',
       '$95K - $163K (Glassdoor est.)', '$93K - $170K (Glassdoor est.)',
       '$77K - $173K (Glassdoor est.)', '$90K - $170K (Glassdoor est.)',
       '$80K - $154K (Glassdoor est.)', '$77K - $148K (Glassdoor est.)',
       '$84K - $154K (Glassdoor est.)', '$141K - $155K (Glassdoor est.)',
       '$96K - $182K (Glassdoor est.)', '$113K - $210K (Glassdoor est.)',
       '$111K - $185K (Glassdoor est.)', '$84K - $179K (Glassdoor est.)',
       '$91K - $164K (Glassdoor est.)', '$86K - $156K (Glassdoor est.)',
       '$82K - $164K (Glassdoor est.)', '$86K - $174K (Glassdoor est.)',
       '$87K - $154K (Glassdoor est.)', '$121K - $195K (Glassdoor est.)',
       '$86K - $165K (Glassdoor est.)', '$102K - $185K (Glassdoor est.)',
       '$108K - $174K (Glassdoor est.)', '$92K - $172K (Glassdoor est.)',
       '$81K - $165K (Glassdoor est.)', '$100K - $165K (Glassdoor est.)',
       '$79K - $160K (Glassdoor est.)', '$78K - $152K (Glassdoor est.)',
       '$89K - $175K (Glassdoor est.)', '$68K - $142K (Glassdoor est.)',
       '$121K - $200K (Glassdoor est.)', '$81K - $152K (Glassdoor est.)',
       '$109K - $164K (Glassdoor est.)', '$121K - $209K (Glassdoor est.)',
       '$78K - $150K (Glassdoor est.)', '$98K - $139K (Glassdoor est.)',
       '$90K - $171K (Glassdoor est.)', '$98K - $174K (Glassdoor est.)',
       '$94K - $154K (Glassdoor est.)', '$95K - $153K (Glassdoor est.)',
       '$93K - $167K (Glassdoor est.)', '$142K - $176K (Glassdoor est.)',
       '$80K - $159K (Glassdoor est.)', '$125K - $145K (Glassdoor est.)',
       '$91K - $183K (Glassdoor est.)', '$96K - $157K (Glassdoor est.)',
       '$89K - $165K (Glassdoor est.)', '$97K - $181K (Glassdoor est.)',
       '$90K - $131K (Glassdoor est.)', '$93K - $157K (Glassdoor est.)',
       '$99K - $180K (Glassdoor est.)', '$94K - $162K (Glassdoor est.)',
       '$118K - $206K (Glassdoor est.)', '$91K - $178K (Glassdoor est.)',
       '$93K - $195K (Glassdoor est.)', '$119K - $203K (Glassdoor est.)',
       '$92K - $179K (Glassdoor est.)', '$91K - $161K (Glassdoor est.)',
       '$105K - $170K (Glassdoor est.)', '$95K - $176K (Glassdoor est.)',
       '$111K - $238K (Glassdoor est.)', '$104K - $180K (Glassdoor est.)',
       '$97K - $154K (Glassdoor est.)', '$113K - $176K (Glassdoor est.)',
       '$110K - $175K (Glassdoor est.)', '$83K - $141K (Glassdoor est.)',
       '$90K - $143K (Glassdoor est.)', '$76K - $144K (Glassdoor est.)',
       '$113K - $153K (Glassdoor est.)', '$83K - $167K (Glassdoor est.)',
       '$96K - $105K (Glassdoor est.)', '$112K - $186K (Glassdoor est.)',
       '$100K - $151K (Glassdoor est.)', '$141K - $166K (Glassdoor est.)',
       '$89K - $168K (Glassdoor est.)', '$103K - $164K (Glassdoor est.)',
       '$94K - $168K (Glassdoor est.)', '$115K - $124K (Glassdoor est.)',
       '$124K - $220K (Glassdoor est.)', '$110K - $185K (Glassdoor est.)',
       '$97K - $156K (Glassdoor est.)', '$72K - $147K (Glassdoor est.)',
       '$77K - $159K (Glassdoor est.)', '$103K - $186K (Glassdoor est.)',
       '$99K - $171K (Glassdoor est.)', '$137K - $219K (Glassdoor est.)',
       '$86K - $154K (Glassdoor est.)', '$90K - $168K (Glassdoor est.)',
       '$105K - $165K (Glassdoor est.)', '$91K - $165K (Glassdoor est.)',
       '$113K - $163K (Glassdoor est.)', '$96K - $187K (Glassdoor est.)',
       '$97K - $180K (Glassdoor est.)', '$86K - $172K (Glassdoor est.)',
       '$142K - $168K (Glassdoor est.)', '$88K - $174K (Glassdoor est.)',
       '$84K - $146K (Glassdoor est.)', '$67K - $130K (Glassdoor est.)',
       '$99K - $177K (Glassdoor est.)', '$91K - $179K (Glassdoor est.)',
       '$85K - $157K (Glassdoor est.)', '$89K - $180K (Glassdoor est.)',
       '$104K - $207K (Glassdoor est.)', '$92K - $147K (Glassdoor est.)',
       '$104K - $188K (Glassdoor est.)', '$84K - $141K (Glassdoor est.)',
       '$68K - $111K (Glassdoor est.)', '$72K - $135K (Glassdoor est.)',
       '$84K - $149K (Glassdoor est.)', '$59K - $138K (Glassdoor est.)',
       '$74K - $153K (Glassdoor est.)', '$87K - $158K (Glassdoor est.)',
       '$102K - $237K (Glassdoor est.)', '$98K - $172K (Glassdoor est.)',
       '$101K - $187K (Glassdoor est.)', '$143K - $225K (Glassdoor est.)',
       '$85K - $154K (Glassdoor est.)', '$96K - $181K (Glassdoor est.)',
       '$84K - $161K (Glassdoor est.)', '$151K - $181K (Glassdoor est.)',
       '$100K - $196K (Glassdoor est.)', '$79K - $156K (Glassdoor est.)',
       '$80K - $134K (Glassdoor est.)', '$88K - $156K (Glassdoor est.)',
       '$77K - $132K (Glassdoor est.)', '$91K - $159K (Glassdoor est.)',
       '$78K - $128K (Glassdoor est.)', '$80K - $152K (Glassdoor est.)',
       '$87K - $142K (Glassdoor est.)', '$90K - $180K (Glassdoor est.)',
       '$117K - $187K (Glassdoor est.)', '$88K - $149K (Glassdoor est.)',
       '$121K - $211K (Glassdoor est.)', '$126K - $199K (Glassdoor est.)',
       '$74K - $145K (Glassdoor est.)', '$94K - $178K (Glassdoor est.)',
       '$118K - $188K (Glassdoor est.)', '$90K - $151K (Glassdoor est.)',
       '$104K - $166K (Glassdoor est.)', '$111K - $204K (Glassdoor est.)',
       '$108K - $182K (Glassdoor est.)', '$100K - $181K (Glassdoor est.)',
       '$93K - $178K (Glassdoor est.)', '$94K - $183K (Glassdoor est.)',
       '$119K - $188K (Glassdoor est.)', '$86K - $164K (Glassdoor est.)',
       '$130K - $145K (Glassdoor est.)', '$77K - $141K (Glassdoor est.)',
       '$91K - $173K (Glassdoor est.)', '$77K - $155K (Glassdoor est.)',
       '$90K - $159K (Glassdoor est.)', '$82K - $138K (Glassdoor est.)',
       '$95K - $164K (Glassdoor est.)', '$131K - $150K (Glassdoor est.)',
       '$99K - $160K (Glassdoor est.)', '$112K - $203K (Glassdoor est.)',
       '$98K - $178K (Glassdoor est.)', '$112K - $181K (Glassdoor est.)',
       '$68K - $135K (Glassdoor est.)', '$68K - $140K (Glassdoor est.)',
       '$111K - $177K (Glassdoor est.)', '$127K - $212K (Glassdoor est.)',
       '$85K - $165K (Glassdoor est.)', '$94K - $188K (Glassdoor est.)',
       '$83K - $152K (Glassdoor est.)', '$96K - $152K (Glassdoor est.)',
       '$84K - $157K (Glassdoor est.)', '$112K - $199K (Glassdoor est.)',
       '$61K - $107K (Glassdoor est.)', '$108K - $170K (Glassdoor est.)',
       '$95K - $167K (Glassdoor est.)', '$118K - $214K (Glassdoor est.)',
       '$120K - $190K (Glassdoor est.)', '$78K - $143K (Glassdoor est.)',
       '$145K - $164K (Glassdoor est.)', '$102K - $205K (Glassdoor est.)',
       '$82K - $152K (Glassdoor est.)', '$89K - $160K (Glassdoor est.)',
       '$67K - $132K (Glassdoor est.)', '$88K - $180K (Glassdoor est.)',
       '$74K - $137K (Glassdoor est.)', '$60K - $110K (Glassdoor est.)',
       '$71K - $130K (Glassdoor est.)', '$78K - $158K (Glassdoor est.)',
       '$125K - $204K (Glassdoor est.)', '$66K - $143K (Glassdoor est.)',
       '$119K - $200K (Glassdoor est.)', '$106K - $169K (Glassdoor est.)',
       '$118K - $184K (Glassdoor est.)', '$92K - $182K (Glassdoor est.)',
       '$127K - $222K (Glassdoor est.)', '$118K - $193K (Glassdoor est.)',
       '$60K - $127K (Glassdoor est.)', '$106K - $177K (Glassdoor est.)',
       '$84K - $178K (Glassdoor est.)', '$157K - $249K (Glassdoor est.)',
       '$106K - $195K (Glassdoor est.)', '$92K - $171K (Glassdoor est.)',
       '$79K - $131K (Glassdoor est.)', '$94K - $184K (Glassdoor est.)',
       '$88K - $176K (Glassdoor est.)', '$106K - $176K (Glassdoor est.)',
       '$70K - $132K (Glassdoor est.)', '$178K - $200K (Glassdoor est.)',
       '$182K - $212K (Glassdoor est.)', '$95K - $173K (Glassdoor est.)',
       '$122K - $150K (Glassdoor est.)', '$100K - $193K (Glassdoor est.)',
       '$107K - $198K (Glassdoor est.)', '$130K - $204K (Glassdoor est.)',
       '$98K - $175K (Glassdoor est.)', '$116K - $190K (Glassdoor est.)',
       '$73K - $130K (Glassdoor est.)', '$93K - $150K (Glassdoor est.)',
       '$97K - $159K (Glassdoor est.)', '$64K - $162K (Glassdoor est.)',
       '$96K - $140K (Glassdoor est.)', '$60K - $121K (Glassdoor est.)',
       '$108K - $173K (Glassdoor est.)', '$97K - $208K (Glassdoor est.)',
       '$90K - $146K (Glassdoor est.)', '$114K - $190K (Glassdoor est.)',
       '$145K - $160K (Glassdoor est.)', '$120K - $208K (Glassdoor est.)',
       '$141K - $176K (Glassdoor est.)', '$98K - $198K (Glassdoor est.)',
       '$151K - $242K (Glassdoor est.)', '$88K - $150K (Glassdoor est.)',
       '$105K - $182K (Glassdoor est.)', '$107K - $181K (Glassdoor est.)',
       '$60K - $132K (Glassdoor est.)', '$105K - $188K (Glassdoor est.)',
       '$108K - $117K (Glassdoor est.)', '$130K - $190K (Glassdoor est.)',
       '$103K - $171K (Glassdoor est.)', '$89K - $157K (Glassdoor est.)',
       '$122K - $191K (Glassdoor est.)', '$109K - $204K (Glassdoor est.)',
       '$105K - $196K (Glassdoor est.)', '$89K - $169K (Glassdoor est.)',
       '$88K - $181K (Glassdoor est.)', '$83K - $172K (Glassdoor est.)',
       '$92K - $191K (Glassdoor est.)', '$98K - $185K (Glassdoor est.)',
       '$98K - $186K (Glassdoor est.)', '$88K - $161K (Glassdoor est.)',
       '$80K - $158K (Glassdoor est.)', '$107K - $203K (Glassdoor est.)',
       '$102K - $188K (Glassdoor est.)', '$93K - $174K (Glassdoor est.)',
       '$65K - $119K (Glassdoor est.)', '$99K - $184K (Glassdoor est.)',
       '$109K - $203K (Glassdoor est.)', '$117K - $183K (Glassdoor est.)',
       '$107K - $200K (Glassdoor est.)', '$126K - $208K (Glassdoor est.)',
       '$96K - $193K (Glassdoor est.)', '$81K - $158K (Glassdoor est.)',
       '$86K - $173K (Glassdoor est.)', '$113K - $193K (Glassdoor est.)',
       '$100K - $166K (Glassdoor est.)', '$50K - $105K (Glassdoor est.)',
       '$96K - $206K (Glassdoor est.)', '$146K - $242K (Glassdoor est.)',
       '$104K - $189K (Glassdoor est.)', '$168K - $207K (Glassdoor est.)',
       '$93K - $175K (Glassdoor est.)', '$78K - $144K (Glassdoor est.)',
       '$150K - $165K (Glassdoor est.)', '$117K - $194K (Glassdoor est.)',
       '$57K - $111K (Glassdoor est.)', '$73K - $133K (Glassdoor est.)',
       '$55K - $119K (Glassdoor est.)', '$59K - $112K (Glassdoor est.)',
       '$108K - $203K (Glassdoor est.)', '$111K - $190K (Glassdoor est.)',
       '$95K - $189K (Glassdoor est.)', '$115K - $193K (Glassdoor est.)',
       '$86K - $159K (Glassdoor est.)', '$85K - $153K (Glassdoor est.)',
       '$92K - $189K (Glassdoor est.)', '$93K - $162K (Glassdoor est.)',
       '$78K - $164K (Glassdoor est.)', '$134K - $218K (Glassdoor est.)',
       '$105K - $202K (Glassdoor est.)', '$106K - $201K (Glassdoor est.)',
       '$89K - $164K (Glassdoor est.)', '$84K - $136K (Glassdoor est.)',
       '$98K - $192K (Glassdoor est.)', '$158K - $183K (Glassdoor est.)',
       '$100K - $192K (Glassdoor est.)', '$99K - $189K (Glassdoor est.)',
       '$82K - $157K (Glassdoor est.)', '$95K - $185K (Glassdoor est.)',
       '$107K - $167K (Glassdoor est.)', '$71K - $155K (Glassdoor est.)',
       '$104K - $174K (Glassdoor est.)', '$58K - $109K (Glassdoor est.)',
       '$104K - $193K (Glassdoor est.)', '$95K - $200K (Glassdoor est.)',
       '$165K - $177K (Glassdoor est.)', '$76K - $157K (Glassdoor est.)',
       '$91K - $157K (Glassdoor est.)', '$53K - $106K (Glassdoor est.)',
       '$88K - $169K (Glassdoor est.)', '$81K - $148K (Glassdoor est.)',
       '$85K - $148K (Glassdoor est.)', '$82K - $174K (Glassdoor est.)',
       '$107K - $194K (Glassdoor est.)', '$122K - $192K (Glassdoor est.)',
       '$75K - $163K (Glassdoor est.)', '$113K - $189K (Glassdoor est.)',
       '$55K - $97K (Glassdoor est.)', '$70K - $116K (Glassdoor est.)',
       '$70K - $137K (Glassdoor est.)', '$96K - $180K (Glassdoor est.)',
       '$127K - $247K (Glassdoor est.)', '$119K - $205K (Glassdoor est.)',
       '$117K - $202K (Glassdoor est.)', '$105K - $204K (Glassdoor est.)',
       '$100K - $185K (Glassdoor est.)', '$108K - $178K (Glassdoor est.)',
       '$30K - $150K (Glassdoor est.)', '$97K - $169K (Glassdoor est.)',
       '$74K - $127K (Glassdoor est.)', '$92K - $187K (Glassdoor est.)',
       '$74K - $101K (Glassdoor est.)', '$99K - $175K (Glassdoor est.)',
       '$116K - $192K (Glassdoor est.)', '$114K - $198K (Glassdoor est.)',
       '$75K - $150K (Glassdoor est.)', '$150K - $246K (Glassdoor est.)',
       '$145K - $170K (Glassdoor est.)', '$106K - $187K (Glassdoor est.)',
       '$117K - $206K (Glassdoor est.)', '$148K - $165K (Glassdoor est.)',
       '$95K - $203K (Glassdoor est.)', '$124K - $211K (Glassdoor est.)',
       '$119K - $197K (Glassdoor est.)', '$94K - $200K (Glassdoor est.)',
       '$95K - $182K (Glassdoor est.)', '$125K - $230K (Glassdoor est.)',
       '$86K - $168K (Glassdoor est.)', '$96K - $170K (Glassdoor est.)',
       '$80K - $142K (Glassdoor est.)', '$96K - $179K (Glassdoor est.)',
       '$123K - $207K (Glassdoor est.)', '$89K - $136K (Glassdoor est.)',
       '$87K - $160K (Glassdoor est.)', '$51K - $106K (Glassdoor est.)',
       '$93K - $179K (Glassdoor est.)', '$129K - $203K (Glassdoor est.)',
       '$126K - $158K (Glassdoor est.)', '$105K - $140K (Glassdoor est.)',
       '$108K - $180K (Glassdoor est.)', '$121K - $160K (Glassdoor est.)',
       '$93K - $173K (Glassdoor est.)', '$110K - $193K (Glassdoor est.)',
       '$85K - $140K (Glassdoor est.)', '$85K - $147K (Glassdoor est.)',
       '$74K - $150K (Glassdoor est.)', '$89K - $155K (Glassdoor est.)',
       '$93K - $180K (Glassdoor est.)', '$94K - $180K (Glassdoor est.)',
       '$103K - $201K (Glassdoor est.)', '$118K - $189K (Glassdoor est.)',
       '$63K - $114K (Glassdoor est.)', '$96K - $185K (Glassdoor est.)',
       '$96K - $172K (Glassdoor est.)', '$121K - $194K (Glassdoor est.)',
       '$84K - $145K (Glassdoor est.)', '$125K - $198K (Glassdoor est.)',
       '$102K - $166K (Glassdoor est.)', '$110K - $227K (Glassdoor est.)',
       '$105K - $127K (Glassdoor est.)', '$97K - $195K (Glassdoor est.)',
       '$83K - $154K (Glassdoor est.)', '$91K - $162K (Glassdoor est.)',
       '$108K - $198K (Glassdoor est.)', '$102K - $182K (Glassdoor est.)',
       '$79K - $136K (Glassdoor est.)', '$104K - $198K (Glassdoor est.)',
       '$77K - $162K (Glassdoor est.)', '$93K - $164K (Glassdoor est.)',
       '$162K - $162K (Glassdoor est.)', '$114K - $211K (Glassdoor est.)',
       '$105K - $201K (Glassdoor est.)', '$97K - $183K (Glassdoor est.)',
       '$96K - $160K (Glassdoor est.)', '$70K - $130K (Glassdoor est.)',
       '$56K - $113K (Glassdoor est.)', '$139K - $171K (Glassdoor est.)',
       '$86K - $161K (Glassdoor est.)', '$106K - $202K (Glassdoor est.)',
       '$95K - $175K (Glassdoor est.)', '$106K - $205K (Glassdoor est.)',
       '$103K - $193K (Glassdoor est.)', '$81K - $146K (Glassdoor est.)',
       '$63K - $120K (Glassdoor est.)', '$101K - $185K (Glassdoor est.)',
       '$85K - $193K (Glassdoor est.)', '$52K - $110K (Glassdoor est.)',
       '$76K - $142K (Glassdoor est.)', '$89K - $207K (Glassdoor est.)',
       '$82K - $154K (Glassdoor est.)', '$115K - $215K (Glassdoor est.)',
       '$115K - $173K (Glassdoor est.)', '$59K - $124K (Glassdoor est.)',
       '$80K - $137K (Glassdoor est.)', '$73K - $145K (Glassdoor est.)',
       '$61K - $111K (Glassdoor est.)', '$92K - $180K (Glassdoor est.)',
       '$54K - $108K (Glassdoor est.)', '$59K - $109K (Glassdoor est.)',
       '$58K - $114K (Glassdoor est.)', '$94K - $195K (Glassdoor est.)',
       '$106K - $186K (Glassdoor est.)', '$73K - $176K (Glassdoor est.)',
       '$39K - $87K (Glassdoor est.)', '$57K - $118K (Glassdoor est.)',
       '$53K - $117K (Glassdoor est.)',
       '$19 - $30 Per Hour(Glassdoor est.)',
       '$51K - $108K (Glassdoor est.)',
       '$21 - $34 Per Hour(Glassdoor est.)',
       '$98K - $217K (Glassdoor est.)', '$70K - $194K (Glassdoor est.)',
       '$81K - $164K (Glassdoor est.)', '$83K - $148K (Glassdoor est.)',
       '$95K - $199K (Glassdoor est.)', '$102K - $203K (Glassdoor est.)',
       '$82K - $156K (Glassdoor est.)', '$125K - $261K (Glassdoor est.)',
       '$103K - $207K (Glassdoor est.)', '$79K - $154K (Glassdoor est.)',
       '$47K - $113K (Glassdoor est.)', '$79K - $146K (Glassdoor est.)',
       '$82K - $171K (Glassdoor est.)', '$59K - $117K (Glassdoor est.)',
       '$80K - $163K (Glassdoor est.)', '$70K - $149K (Glassdoor est.)',
       '$85K - $164K (Glassdoor est.)', '$87K - $166K (Glassdoor est.)',
       '$51K - $102K (Glassdoor est.)', '$96K - $183K (Glassdoor est.)',
       '$82K - $169K (Glassdoor est.)', '$100K - $205K (Glassdoor est.)',
       '$105K - $197K (Glassdoor est.)', '$77K - $138K (Glassdoor est.)',
       '$99K - $191K (Glassdoor est.)', '$72K - $133K (Glassdoor est.)',
       '$49K - $110K (Glassdoor est.)', '$80K - $149K (Glassdoor est.)',
       '$92K - $216K (Glassdoor est.)', '$101K - $186K (Glassdoor est.)',
       '$73K - $136K (Glassdoor est.)', '$66K - $121K (Glassdoor est.)',
       '$82K - $158K (Glassdoor est.)', '$110K - $210K (Glassdoor est.)',
       '$63K - $117K (Glassdoor est.)', '$116K - $223K (Glassdoor est.)',
       '$115K - $205K (Glassdoor est.)', '$91K - $176K (Glassdoor est.)',
       '$69K - $145K (Glassdoor est.)', '$58K - $112K (Glassdoor est.)',
       '$96K - $188K (Glassdoor est.)', '$90K - $178K (Glassdoor est.)',
       '$72K - $146K (Glassdoor est.)', '$105K - $191K (Glassdoor est.)',
       '$108K - $193K (Glassdoor est.)', '$81K - $162K (Glassdoor est.)',
       '$63K - $125K (Glassdoor est.)', '$149K - $179K (Glassdoor est.)',
       '$64K - $132K (Glassdoor est.)', '$99K - $167K (Glassdoor est.)',
       '$72K - $154K (Glassdoor est.)', '$95K - $180K (Glassdoor est.)',
       '$103K - $182K (Glassdoor est.)', '$48K - $106K (Glassdoor est.)',
       '$104K - $161K (Glassdoor est.)', '$109K - $187K (Glassdoor est.)',
       '$106K - $196K (Glassdoor est.)', '$58K - $118K (Glassdoor est.)',
       '$132K - $219K (Glassdoor est.)', '$89K - $176K (Glassdoor est.)',
       '$97K - $167K (Glassdoor est.)', '$114K - $214K (Glassdoor est.)',
       '$145K - $239K (Glassdoor est.)', '$93K - $171K (Glassdoor est.)',
       '$94K - $152K (Glassdoor est.)', '$95K - $159K (Glassdoor est.)',
       '$92K - $183K (Glassdoor est.)', '$88K - $167K (Glassdoor est.)',
       '$82K - $134K (Glassdoor est.)', '$83K - $162K (Glassdoor est.)',
       '$69K - $128K (Glassdoor est.)', '$100K - $157K (Glassdoor est.)',
       '$76K - $162K (Glassdoor est.)', '$64K - $118K (Glassdoor est.)',
       '$113K - $194K (Glassdoor est.)', '$75K - $142K (Glassdoor est.)',
       '$122K - $220K (Glassdoor est.)', '$48K - $83K (Glassdoor est.)',
       '$76K - $151K (Glassdoor est.)', '$100K - $209K (Glassdoor est.)',
       '$108K - $190K (Glassdoor est.)', '$63K - $134K (Glassdoor est.)',
       '$107K - $213K (Glassdoor est.)', '$81K - $171K (Glassdoor est.)',
       '$55K - $99K (Glassdoor est.)', '$94K - $171K (Glassdoor est.)',
       '$76K - $137K (Glassdoor est.)', '$109K - $218K (Glassdoor est.)',

> üîç observation_univariate: [0, "salary estimate"].\
  \
  Everything is a string specifying an interval or a single number. There are NaNs.\
  Some salary estimates are hourly. Some just include 1 number as an estimate.\
  Some include a range. The salary column is an object dtype. There are 3 different\
  cases: one includes "Employer Provided Salary", one has no range, one has the\
  "(Glassdoor est.)". We will have to build a parser for these!

Let's build something like the HQ one where we simply remove the NaNs. This is an important statistic so we want instances that have a salary estimate. We will probably shave off a giant chunk of our data! :( But this is necessary if we want to train a predictive model. We don't want to impute our *labels*.

In [36]:
# 1. Remove NaNs from salary.
# 2. Parse the salary and extract average.

class RemoveNaNSalary(BaseEstimator, TransformerMixin):
    def __init__(self,):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        return X_copy[X_copy["salary estimate"] != "-1"].reset_index(drop=True)

class SalaryParser(BaseEstimator, TransformerMixin):
    def __init__(self,):
        pass
    
    # Parse and replace the salary column with the average of the provided salary range.
    def _salary_parser(self, salary):
        if "Employer Provided Salary" in salary:
            # salary_range can sometimes be just 1 value.
            salary_range = re.sub(r"[a-zA-Z]+|\s|\$|\:", "", salary).split("-")
        elif "(Glassdoor est.)" in salary:
            salary_range = re.sub(r"[a-zA-Z]+|\s|\$|\.|[()]", "", salary).split("-")
        avg_salary = np.mean(np.array(salary_range, dtype=np.float64))
        return avg_salary
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        X_copy["salary estimate"] = X_copy["salary estimate"].map(self._salary_parser)
        
        return X_copy.reset_index(drop=True)

In [37]:
clean_salary_pipeline = Pipeline([
    ("nan_remover", RemoveNaNSalary()),
    ("parser", SalaryParser())
])

In [38]:
df_clean = clean_salary_pipeline.fit_transform(df_clean)

In [39]:
df_clean.head()

,company,rating,headquarters,salary estimate,job type,size,type,sector,revenue
0,Indeed,4.3,"San Francisco, CA",209.0,Job Type : Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
1,Indeed,4.3,"San Francisco, CA",143.0,Job Type : Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
2,Harnham US,3.8,"San Francisco, CA",190.0,Job Type : N/A,51 to 200 employees,company - private,business services,$25 to $50 million (usd)
3,Abl Schools,4.1,"San Francisco, CA",140.0,Job Type : Full-time,1 to 50 employees,company - private,business services,unknown / non-applicable
4,Amazon,3.8,"Palo Alto, CA",115.0,Job Type : Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)

### 5.4. job type

In [40]:
df_clean["job type"].unique()

array(['Job Type : Full-time', 'Job Type : N/A', 'Job Type : Part-time',
       'Job Type : Contract', 'Job Type : Internship',
       'Job Type : Temporary'], dtype=object)

In [41]:
df_clean[df_clean["job type"] == "Job Type : N/A"]

,company,rating,headquarters,salary estimate,job type,size,type,sector,revenue
2,Harnham US,3.8,"San Francisco, CA",190.0,Job Type : N/A,51 to 200 employees,company - private,business services,$25 to $50 million (usd)

> üîç observations_univariate: [0, "job type"].\
  \
  I need to RegEx parse the column values to\
  remove the "Job Type :" part. Then,\
  I need to replace the N/A with NaNs and finally\
  remove or impute the NaNs.

In [42]:
df_clean["job type"].value_counts()

Job Type : Full-time     1913
Job Type : Part-time       32
Job Type : Contract         8
Job Type : Internship       4
Job Type : Temporary        2
Job Type : N/A              1
Name: job type, dtype: int64

In [43]:
df_clean["job type"]

0       Job Type : Full-time
1       Job Type : Full-time
2             Job Type : N/A
3       Job Type : Full-time
4       Job Type : Full-time
                ...
1955    Job Type : Full-time
1956    Job Type : Full-time
1957    Job Type : Full-time
1958    Job Type : Full-time
1959    Job Type : Full-time
Name: job type, Length: 1960, dtype: object

Let's remove the N/A job types and also parse them.

In [44]:
class RemoveNaNJobType(BaseEstimator, TransformerMixin):
    def __init__(self,):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        return X_copy[X_copy["job type"].apply(lambda x: x.split(" ")[-1] != "N/A")].reset_index(drop=True)
        
        
class JobTypeParser(BaseEstimator, TransformerMixin):
    def __init__(self,):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        X_copy["job type"] = X_copy["job type"].map(lambda x: x.split()[-1])
        
        return X_copy

In [45]:
clean_jobtype_pipeline = Pipeline([
    ("nan_remover", RemoveNaNJobType()),
    ("parser", JobTypeParser())
])

In [46]:
df_clean = clean_jobtype_pipeline.fit_transform(df_clean)

In [47]:
df_clean["job type"].unique()

array(['Full-time', 'Part-time', 'Contract', 'Internship', 'Temporary'],
      dtype=object)

In [48]:
df_clean.shape

(1959, 9)

### 5.5. size, founded, type, industry, sector, revenue, and job description

In [49]:
df_clean["size"].value_counts()

10000+ employees           596
1 to 50 employees          347
51 to 200 employees        267
1001 to 5000 employees     196
201 to 500 employees       188
501 to 1000 employees      168
5001 to 10000 employees    126
unknown                     71
Name: size, dtype: int64

> üîç observations_univariate: [0, "size"].\
  \
  There are 71 unknown values.

In [50]:
df_clean["type"].value_counts()

company - public                  886
company - private                 856
subsidiary or business segment     56
nonprofit organization             52
college / university               37
unknown                            26
contract                           15
government                         10
self-employed                       9
hospital                            6
private practice / firm             5
school / school district            1
Name: type, dtype: int64

> üîç observations_univariate: [0, "type"].\
  \
  26 unknowns, not too many.

In [51]:
df_clean["sector"].value_counts()

information technology                863
-1                                    241
biotech & pharmaceuticals             187
business services                     139
finance                               105
retail                                 97
health care                            61
manufacturing                          58
education                              48
insurance                              43
oil, gas, energy & utilities           26
non-profit                             20
media                                  18
transportation & logistics             12
government                             11
real estate                             7
telecommunications                      6
accounting & legal                      6
restaurants, bars & food services       4
construction, repair & maintenance      3
arts, entertainment & recreation        2
travel & tourism                        1
agriculture & forestry                  1
Name: sector, dtype: int64

> üîç observations_univariate: [0, "sector"].\
  \
  Lots of missing values and a few obscure unique values.

In [52]:
df_clean["revenue"].value_counts()

unknown / non-applicable            855
$10+ billion (usd)                  475
$100 to $500 million (usd)           94
$2 to $5 billion (usd)               94
$1 to $2 billion (usd)               86
less than $1 million (usd)           76
$5 to $10 billion (usd)              53
$25 to $50 million (usd)             50
$50 to $100 million (usd)            44
$10 to $25 million (usd)             44
$1 to $5 million (usd)               43
$500 million to $1 billion (usd)     28
$5 to $10 million (usd)              17
Name: revenue, dtype: int64

> üîç observations_univariate: [0, "revenue"].\
  \
  Nearly half of the records don't have a recorded revenue. We can't afford to drop it, we will leave it in the data.

In [53]:
class RemoveNaNSize(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        X_copy = X_copy.drop(X_copy.index[X_copy["size"] == "-1"])
        X_copy = X_copy.drop(X_copy.index[X_copy["size"] == "unknown"])
        
        return X_copy.reset_index(drop=True)
    
class RemoveNaNType(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        X_copy = X_copy.drop(X_copy.index[X_copy["type"] == "-1"])
        X_copy = X_copy.drop(X_copy.index[X_copy["type"] == "unknown"])
        
        return X_copy.reset_index(drop=True)
    
class RemoveNaNSector(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        X_copy = X_copy.drop(X_copy.index[X_copy["sector"] == "-1"])
        
        return X_copy.reset_index(drop=True)
    
class RemoveNaNRevenue(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        X_copy = X.copy()
        
        X_copy = X_copy.drop(X_copy.index[X_copy["revenue"] == "-1"])
        
        return X_copy.reset_index(drop=True)

In [54]:
clean_size_pipeline = Pipeline([
    ("nan_remover", RemoveNaNSize())
])

clean_type_pipeline = Pipeline([
    ("nan_remover", RemoveNaNType())
])

clean_sector_pipeline = Pipeline([
    ("nan_remover", RemoveNaNSector())
])

clean_revenue_pipeline = Pipeline([
    ("nan_remover", RemoveNaNRevenue())
])

In [55]:
df_clean = clean_size_pipeline.fit_transform(df_clean)
df_clean = clean_type_pipeline.fit_transform(df_clean)
df_clean = clean_sector_pipeline.fit_transform(df_clean)
df_clean = clean_revenue_pipeline.fit_transform(df_clean)

In [56]:
df_clean.shape

(1701, 9)

In [57]:
df_clean.head()

,company,rating,headquarters,salary estimate,job type,size,type,sector,revenue
0,Indeed,4.3,"San Francisco, CA",209.0,Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
1,Indeed,4.3,"San Francisco, CA",143.0,Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
2,Abl Schools,4.1,"San Francisco, CA",140.0,Full-time,1 to 50 employees,company - private,business services,unknown / non-applicable
3,Amazon,3.8,"Palo Alto, CA",115.0,Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
4,Thermo Fisher - America,3.8,"San Francisco, CA",134.5,Full-time,10000+ employees,company - public,biotech & pharmaceuticals,$10+ billion (usd)

### 5.6. Building the Pipeline

In [58]:
# Hyperparams.
remove_cols = ["job title", "founded", "job description", "industry"]

replace_company_names = {"Amazon": "Amazon", 
                         "Parker Institute": "Parker Institute for Cancer Immunotherapy", 
                         "Sony": "Sony", 
                         "Stealth Mode": "Stealth Mode", 
                         "Twitch": "Twitch", 
                         "Wells Fargo": "Wells Fargo", 
                         "Varo": "Varo"}

remove_company_names = ["financial services company", "information technology sector"]

# Pipelines.
clean_general_pipeline = Pipeline([
    ("nan_row_remover", RemoveNaNRows()),
    ("col_selector", DataFrameSelector(remove_cols, include=False)),
    ("index_remover", IndexRemover())
])

clean_company_pipeline = Pipeline([
    ("company_rating_split", CompanyRatingSplit()),
    ("company_aggregate", AggregateCompanyNames(replace_company_names)),
    ("company_remove", RemoveNonCompanyNames(remove_company_names))
])

clean_rating_pipeline = Pipeline([
    ("rating_fill_by_cmpny_avg", FillRatingByCmpnyAvg()),
    ("rating_fill_by_avg", FillRatingByAvg())
])

clean_hq_pipeline = Pipeline([
    ("remove_ext_hq", RemoveExtraneousHQ())
])

clean_salary_pipeline = Pipeline([
    ("nan_remover", RemoveNaNSalary()),
    ("parser", SalaryParser())
])

clean_jobtype_pipeline = Pipeline([
    ("nan_remover", RemoveNaNJobType()),
    ("parser", JobTypeParser())
])

clean_size_pipeline = Pipeline([
    ("nan_remover", RemoveNaNSize())
])

clean_type_pipeline = Pipeline([
    ("nan_remover", RemoveNaNType())
])

clean_sector_pipeline = Pipeline([
    ("nan_remover", RemoveNaNSector())
])

clean_revenue_pipeline = Pipeline([
    ("nan_remover", RemoveNaNRevenue())
])

cleaning_pipeline = Pipeline([
    ("general", clean_general_pipeline),
    ("company", clean_company_pipeline),
    ("rating", clean_rating_pipeline),
    ("headquarters", clean_hq_pipeline),
    ("salary", clean_salary_pipeline),
    ("jobtype", clean_jobtype_pipeline),
    ("size", clean_size_pipeline),
    ("type", clean_type_pipeline),
    ("sector", clean_sector_pipeline),
    ("revenue", clean_revenue_pipeline),
])

In [59]:
df_clean = cleaning_pipeline.fit_transform(df)

In [60]:
df_clean.shape

(1701, 9)

In [61]:
df_clean.head()

,company,rating,headquarters,salary estimate,job type,size,type,sector,revenue
0,Indeed,4.3,"San Francisco, CA",209.0,Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
1,Indeed,4.3,"San Francisco, CA",143.0,Full-time,10000+ employees,company - private,information technology,$2 to $5 billion (usd)
2,Abl Schools,4.1,"San Francisco, CA",140.0,Full-time,1 to 50 employees,company - private,business services,unknown / non-applicable
3,Amazon,3.8,"Palo Alto, CA",115.0,Full-time,10000+ employees,company - public,information technology,$10+ billion (usd)
4,Thermo Fisher - America,3.8,"San Francisco, CA",134.5,Full-time,10000+ employees,company - public,biotech & pharmaceuticals,$10+ billion (usd)

In [62]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1701 entries, 0 to 1700
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   company          1701 non-null   object
 1   rating           1701 non-null   float64
 2   headquarters     1701 non-null   object
 3   salary estimate  1701 non-null   float64
 4   job type         1701 non-null   object
 5   size             1701 non-null   object
 6   type             1701 non-null   object
 7   sector           1701 non-null   object
 8   revenue          1701 non-null   object
dtypes: float64(2), object(7)
memory usage: 119.7+ KB

# 6. Saving

In [81]:
df_clean.to_csv("../input/joblisting_cleaned.csv", index=False)
df_clean.to_csv("./input/joblisting_cleaned.csv", index=False)